<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{> instantWinConfirm_mobile}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{> instantWinConfirm_desktop}}
    }
</style>
<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
          <p><span></span><span>PARTICIPATION CONFIRMÉE</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-instantWinConfirm" class="s2w2017-fr">
              <header>
                  <div class="gradient">
                      <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
                  </div>
                  <a href="http://dan-on.com/ca-fr/collation-gagnante"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante"></a>
              </header>
              <section class="contest-confirmation hide">
                  <h1 class="contest-confirmation__title"><strong>Félicitations</strong> <br /><strong class="contest-confirmation__username">&nbsp;</strong> <br />Vous avez entré un code gagnant&nbsp;! <br>Ce code correspond au prix suivant :</h1>
                  <p class="contest-confirmation__lot--image"><img class="contest-confirmation__lot" src="" alt="" /></p>
                  <p class="contest-confirmation__lot--name">&nbsp;</p>
                  <p class="contest-confirmation__lot--legal">&nbsp;</p>
              </section>
              <section id="s2w2017-form">
                  <div class="s2w2017-inner-wrapper">
                    <runtime-portlet name="instantwinconfirmation_WAR_danoncontestportlet"> </runtime-portlet>
                  </div>
              </section>
            </div>
        </section>
        <div class="footer-tralala">
          {{> footer_fr}}
        </div>
    </div>
</div>
<script>
// <!--

$(function(){
  var parameters = Utils.getUrlParameters();
  $('.contest-confirmation__username').text(parameters.firstName+',');

	var prize = $('.contest-confirmation__form').data('prize');

  $('img.contest-confirmation__lot').attr('src', prize.picture);
  $('img.contest-confirmation__lot').attr('alt', prize.label);
	$('.contest-confirmation__lot--name').text(prize.label);
	$('.contest-confirmation__lot--legal').text(prize.legalMentions);
	$('section.contest-confirmation').removeClass('hide');

});


// -->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28851518-47', 'auto', 'snackToWin', {
    userId: Globals.CUSTOMER_ID
  });
  ga('snackToWin.send', 'pageview');

  $(function () {
    var prize = $('.contest-confirmation__form').data('prize');
    ga('snackToWin.send', 'event', 'instant_prize', 'win', prize.label);
    $('.contest-confirmation__form .keeping-lot-yes').click(function() {
      ga('snackToWin.send', 'event', 'instant_prize', 'accept', prize.label);
    });
    $('.contest-confirmation__form .keeping-lot-no').click(function() {
      ga('snackToWin.send', 'event', 'instant_prize', 'decline_step1', prize.label);
    });
    $('.contest-confirmation__form .display--keeping-lot-no button[type="submit"]').click(function() {
      ga('snackToWin.send', 'event', 'instant_prize', 'decline_step2', prize.label);
    });
    $('.contest-confirmation__form .display--keeping-lot-yes button[type="submit"]').click(function() {
      ga('snackToWin.send', 'event', 'instant_prize', 'form_submit', prize.label);
    });
  });
</script>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Oikos_Snack-to-Win_Conversion_Fr
URL of the webpage where the tag is expected to be placed: https://www.dan-on.com/ca-fr/collation-gagnante?
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 03/10/2017
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
