#s2w2017-concours {
    p {
        font-size: 20px;
        sup {
            font-size: 0.5em;
            top: -0.75em;
        }
    }
    br {
        &.s2w2017-br-mobile {
            display: none;
        }
        &.s2w2017-br-desktop {
            display: block;
        }
    }
    .s2w2017-mobile-only {
        display: none;
        &.s2w2017-inline {
            display: none;
        }
        &.s2w2017-inline-block {
            display: none;
        }
    }
    .s2w2017-desktop-only {
        display: block;
        &.s2w2017-inline {
            display: inline;
        }
        &.s2w2017-inline-block {
            display: inline-block;
        }
    }
    .s2w2017-outer-wrapper {
        max-width: 640px;
        & > header {
            margin-top: 50px;
            p {
                font-size: 19px;
                & > span:last-child {
                    width: 619px;
                    padding-left: 20px;
                }
            }
        }
    }
    #s2w2017-main {
        header {
            padding: 50px 0 45px;
            div {
                padding: 15px 0;
                p {
                    margin-left: 50%;
                    max-width: 50%;
                    font-size: 26px;
                    line-height: 26px;
                    padding-right: 30px;
                }
            }
            & > img,
            & > a > img {
                top: 15px;
                left: 40px;
                width: 40%;
                height: auto;
            }
        }
    }
    .s2w2017-btn {
        font-size: 24px;
        padding-right: 16px;
        padding-left: 5px;
        border-radius: 6px;
        &::before {
            padding: 10px 10px 7px 5px;
            margin-right: 15px;
            font-size: 30px;
            line-height: 42px;
            min-width: 30px;
        }
        span {
            line-height: 24px;
            top: 6px;
        }
    }
}

#s2w2017-footer {
    p {
        sup {
            font-size: 6px;
        }
        &:first-child {
            font-size: 15px;
        }
        span {
            display: inline;
            &:nth-child(2) {
                display: inline;
            }
        }
    }
}