#navigation {
  .loginForm {
    fieldset {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      height: 100vh;
      width: 100%;

      & > div,
      & > p {
        cursor: default;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
      }

      .social-login {
        margin-top: 5em;
      }

      @media (min-width: 768px) {
        .box__content {
          & > span{
            &::before {
              left: 45px;
            }
          }
        }
      }

      .signup-error {
        margin: 0 auto;

        span {
          left: 45px;
        }
      }
    }
  }
}

.has-short-signup-portlet {
  .row-fluid {
    .span8 {
      width: 100%;
    }

    .span4 {
        margin: 0;
        min-width: 0;
        width: 0;
    }
  }
}

#column-2 {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: none;
  height: 95vh;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 50px;
  width: 100%;
  z-index: 10;

  .portlet-borderless-container {
    cursor: default;
    margin: 5em auto 0;
    max-width: 500px;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  #column-2 {
    top: 70px;
  }
}

#main {
    margin-top: 71px;
    max-width: none;
}

@media (max-width: 767px) {
    #main,
    .site #main {
        margin-top: 50px;
    }
}

@media (max-width: 1024px) {
    #main {
        margin-top: 50px;
        padding: 0;
    }
}

footer.push-footer,
footer#footer .footer_app,
footer#footer .footer_links {
    display: none;
}

#footer .legals {
 /*   text-align: center;
    padding-left: 20px;*/
    padding-right: 0px;
}


@media (max-width: 767px) {
    #footer .legals {
        padding: 1.5em;
        text-align: center;
    }
    #footer .legals ul {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

#footer .legals div {
    margin-right: 0;
}

.journal-content-article {
    margin-top: 0;
    margin-bottom: 0;
}
