#s2w2017-main {
    #s2w2017-comingSoon {
        #s2w2017-copy {
            p {
                font-size: 20px;
                &:first-child {
                    font-size: 25px;
                    margin-top: 0;
                }
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            div:last-child {
                height: 390px;
                background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/copy-codes-position.jpg');
            }
        }
        #s2w2017-cta {
            padding: 18px 0;
            p {
                margin-bottom: 0.75em;
            }
        }
    }
}