#s2w2017-main {
    #s2w2017-comingSoon {
        #s2w2017-copy {
            p {
                line-height: 1.2;
                margin: 1em 0 0;
                &:first-child {
                    margin-top: 0.5em;
                }
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            div:last-child {
                height: 240px;
                background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/copy-codes-position-mobile.jpg');
            }
        }
        #s2w2017-cta {
            padding: 20px 0;
            background: #eef7fb;
            p {
                margin-bottom: 1em;
            }
        }
    }
}