<footer id="s2w2017-footer">
    <p><a href="https://www.dan-on.com/ca-fr/faq/oikos-la-collation-gagnante">FAQ</a></p>
    <p>
        <span>Oikos<sup>&reg;</sup> de Stonyfield Farms Inc., utilisée sous lic.</span>
        <span> &ndash; </span>
        <span>Danone<sup>&reg;</sup> de Cie Gervais Danone, utilisée sous lic.</span>
    </p>
</footer>

{{> footerScript}}