<footer id="s2w2017-footer">
    <p><a href="https://www.dan-on.com/ca-en/faq/oikos-snack-to-win">FAQ</a></p>
    <p>
        <span>Oikos<sup>&reg;</sup> of Stonyfield Farms Inc., used under lic.</span>
        <span> &ndash; </span>
        <span>Danone<sup>&reg;</sup> of Cie Gervais Danone, used under lic.</span>
    </p>
</footer>

{{> footerScript}}