<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}
    
    {{> comingSoon_mobile}}
    
    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}
        
        {{> comingSoon_desktop}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>Le concours<span class="s2w2017-desktop-only s2w2017-inline"> Oikos<sup>&reg;</sup> La collation gagnante</span> débute bientôt</span>
            </p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-comingSoon" class="s2w2017-fr">
                <header>
                    <div class="gradient">
                        <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante">
                </header>
                <div id="s2w2017-copy">
                    <div class="s2w2017-inner-wrapper">
                        <p>Conservez les codes à 10 caractères <br class="s2w2017-br-desktop">apparaissant sur les produits Oikos<sup>&reg;</sup> <br class="s2w2017-br-desktop">participants et participez <br class="s2w2017-br-mobile">dès le <strong>7 mars 2017.</strong></p>
                        <p>Chaque code vous donne <br class="s2w2017-br-mobile">une chance de gagner&nbsp;!</p>
                    </div>
                    <div></div>
                </div>
                <div id="s2w2017-cta">
                    <div class="s2w2017-inner-wrapper">
                        <p>En attendant, profitez de <br class="s2w2017-br-mobile">coupons-rabais <br class="s2w2017-br-desktop"> sur vos produits <br class="s2w2017-br-mobile">Oikos<sup>&reg;</sup> préférés.</p>
                        <a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction" class="s2w2017-btn"><span class="s2w2017-mobile-only s2w2017-inline-block">Obtenir mes coupons</span><span class="s2w2017-desktop-only s2w2017-inline-block">Imprimer mes coupons</span></a>
                    </div>
                </div>
            </div>
        </section>
        {{> footer_fr}}
    </div>
</div>