<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{> comingSoon_mobile}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{> comingSoon_desktop}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>The <span class="s2w2017-desktop-only s2w2017-inline"> Oikos<sup>&reg;</sup> Snack to Win</span> Contest starts soon</span>
            </p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-comingSoon" class="s2w2017-en">
                <header>
                    <div class="gradient">
                        <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win">
                </header>
                <div id="s2w2017-copy">
                    <div class="s2w2017-inner-wrapper">
                        <p>Save the codes from specially <br class="s2w2017-br-desktop">marked Oikos<sup>&reg;</sup> products and come back <br class="s2w2017-br-desktop">to enter on <strong>March 7, 2017.</strong></p>
                        <p>Every unique code gives you <br class="s2w2017-br-mobile">a chance to win!</p>
                    </div>
                    <div></div>
                </div>
                <div id="s2w2017-cta">
                    <div class="s2w2017-inner-wrapper">
                        <p>Until then, click here to get your coupons <br class="s2w2017-br-desktop"> to purchase your Oikos<sup>&reg;</sup>&nbsp;products!</p>
                        <a href="https://www.dan-on.com/ca-en/my-discounts" class="s2w2017-btn"><span class="s2w2017-mobile-only s2w2017-inline-block">Get my coupons</span><span class="s2w2017-desktop-only s2w2017-inline-block">Print now</span></a>
                    </div>
                </div>
            </div>
        </section>
        {{> footer_en}}
    </div>
</div>