#s2w2017-concours {
  #s2w2017-main {
    background-color: #fff;
    header {
      padding-bottom: 0;
    }
    .contest-confirmation {
      background-color: #fff;
      color: #1f4493;
      font-size: 1.4em;
      letter-spacing: .025em;
      line-height: 1.2em;
      padding: 24px 1em 15px;

      h1 {
        font-size: .816em;
        font-weight: normal;
        margin: 0;
      }

      p {
        margin-bottom: 1em;
      }
      p:last-child {
        margin: 0;
      }
    }
    #s2w2017-body {
      font-size: 1.4em;
      letter-spacing: .01em;
      line-height: 1.2em;
      padding: 29px 0 8px;
      p {
        margin-bottom: 1.2em;
      }
      p:last-child {
        font-size: .816em;
        line-height: 1.2em;
      }
    }
    #s2w2017-come-back {
      font-family: 'brochabold', sans-serif;
      font-size: 1.1em;
      letter-spacing: .01em;
      line-height: 1.2em;
      h2 {
        background-color: #f20f23;
        color: #fff;
        font-size: 1.364em;
        font-weight: normal;
        line-height: 1.2em;
        padding: 12px 1em;
        overflow: hidden;
      }
      .s2w2017-inner-wrapper {
        padding-bottom: 23px;
        padding-top: 25px;
      }
      img {
        float: right;
        margin-right: -1em;
        margin-top: -40px;
        width: 46%;
        position: relative;
        z-index: 99;
      }
      p {
        margin-bottom: 1em;
        text-align: right;
        & > span {
          font-size: 1.4em;
        }
        & span span {
          color: #93cde7;
          font-size: 1.143em;
        }
      }
      .s2w2017-btn {
        font-family: 'brocharegular', sans-serif;
      }
    }
    #s2w2017-no-more {
      font-size: 1.4em;
      letter-spacing: .01em;
      line-height: 1.2em;
      .no-more-coupons {
        background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/confirmation/no-more-codes-bg-320.jpg') center 0 no-repeat;
        background-size: cover;
        min-height: 382px;
        padding-top: 14px;
        text-align: left;
        h2 {
          font-family: 'brochabold', sans-serif;
          font-size: 1em;
          font-weight: normal;
          line-height: 1.2em;
          margin-bottom: .5em;
        }
        p {
          font-size: .7em;
          letter-spacing: -.01em;
          margin-bottom: 1em;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
      .no-more-btn {
        padding: 25px 0;
      }
    }
    #instantWinAccepted {
      .contest-confirmation {
        background-color: #1f4493;
        color: #fff;
        padding: 34px 1em 23px;
      }
    }
    #instantWinRefused {
      .contest-confirmation {
        .contest-confirmation__username {
          font-family: 'brochabold', sans-serif;
          font-size: .867em;
        }

        p:last-child {
          font-size: .663em;
        }
      }
      #s2w2017-draw {
        background-color: #1f4493;
        color: #fff;
        padding: 1em 0;

        p {
          font-size: 1em;
          line-height: 1.2em;
          margin-bottom: 1.2em;

          strong {
            font-weight: normal;
          }
        }
        p:last-child {
          margin: 0;
        }
      }
    }
    #contestHome {
      .contest-confirmation {
        p {
          font-size: .9em;
          letter-spacing: -.025em;

          strong {
            font-family: 'brocharegular', sans-serif;
            font-size: .8em;
            font-weight: normal;
          }
        }
      }
    }
  }
}
