#s2w2017-concours {
  #s2w2017-main {
    .contest-confirmation {
      padding: 46px 1em 41px;

      h1 {
        font-size: 1em;
        margin: 0 0 1.2em;
      }
    }

    #s2w2017-body {
      p:last-child {
        font-size: 1.25em;
      }
    }


    #s2w2017-come-back {
      font-size: 1.4em;

      h2 {
        font-size: 1.429em;
        padding: 27px 1em;
      }

      .s2w2017-inner-wrapper::after {
        clear: both;
        content: '';
        display: table;
      }

      img {
        margin-right: 0;
        margin-top: -45px;
        width: auto;
      }

      p {
        & > span {
          font-size: 1.35em;
        }
      }
    }


    #s2w2017-no-more {
      .no-more-coupons {
        background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/confirmation/no-more-codes-bg.jpg') center 0 no-repeat;
        background-size: cover;
        min-height: 581px;
        padding-top: 24px;
        text-align: center;

        h2 {
          font-size: 1.633em;
        }

        p {
          font-size: 1em;
        }
      }
    }

    #instantWinAccepted {
      header {
        padding-bottom: 0;
      }
    }

    #instantWinRefused {
      .contest-confirmation {
        padding-top: 0;

        .contest-confirmation__username {
          font-size: 1em;
          margin: 0;
        }

        p:last-child {
          font-size: 1em;
        }
      }

      #s2w2017-draw {
        p {
          font-size: 1.5em;
        }
      }
    }

    #contestHome {
      .contest-confirmation {
        padding: 0 1em 1em;
          p {
            font-size: 1em;

            strong {
              font-family: 'brochabold', sans-serif;
              font-size: 1.25em;
            }
          }
      }
    }
  }
}
