<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}
    
    {{> concoursTermine_mobile}}
    
    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}
        
        {{> concoursTermine_desktop}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>Le concours est terminé</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-concoursTermine" class="s2w2017-fr">
                <header>
                    <div class="gradient">
                        <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante">
                </header>
                <section id="s2w2017-copy">
                    <p><strong>Le concours est terminé, <br class="s2w2017-br-mobile">le tirage au sort <br class="s2w2017-br-desktop">aura lieu le 25 mai 2017.</strong></p>
                    <p>Les gagnants seront <br class="s2w2017-br-mobile">avisés par courriel.</p>
                    <p><strong>Vous avez des questions&nbsp;?</strong> <br>Visitez notre <a href="https://www.dan-on.com/ca-fr/faq/oikos-la-collation-gagnante">FAQ</a>.</p>
                </section>
                <section id="s2w2017-coupons">
                    <div class="s2w2017-inner-wrapper">
                        <p><strong>Obtenez des coupons</strong>et économisez sur des produits Oikos<sup>&reg;</sup>.</p>
                        <p><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-fr.png" alt="coupons"></p>
                    </div>
                    <a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction" class="s2w2017-btn"><span class="s2w2017-mobile-only s2w2017-inline-block">Économisez maintenant</span><span class="s2w2017-desktop-only s2w2017-inline-block">Imprimer mes coupons</span></a>
                </section>
            </div>
        </section>
        {{> footer_fr}}
    </div>
</div>