<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{> concoursTermine_mobile}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{> concoursTermine_desktop}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>The contest is now closed</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-concoursTermine" class="s2w2017-en">
                <header>
                    <div class="gradient">
                        <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win">
                </header>
                <section id="s2w2017-copy">
                    <p><strong>The random draw will take place<br> on May 25, 2017.</strong></p>
                    <p>Winners will be notified <br class="s2w2017-br-mobile">by email.</p>
                    <p><strong>Questions?</strong> <br>Visit our <a href="https://www.dan-on.com/ca-en/faq/oikos-snack-to-win">FAQ</a> page.</p>
                </section>
                <section id="s2w2017-coupons">
                    <div class="s2w2017-inner-wrapper">
                        <p><strong>Get coupons</strong>and save on Oikos<sup>&reg;</sup> products.</p>
                        <p><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-en.png" alt="coupons"></p>
                    </div>
                    <a href="https://www.dan-on.com/ca-en/my-discounts" class="s2w2017-btn"><span class="s2w2017-mobile-only s2w2017-inline-block">Get my coupons</span><span class="s2w2017-desktop-only s2w2017-inline-block">Print my coupons</span></a>
                </section>
            </div>
        </section>
        {{> footer_en}}
    </div>
</div>