<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}
    
    {{> rules_mobile}}
    
    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}
        
        {{> rules_desktop}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>Règlement</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-rules" class="s2w2017-fr">
                <header>
                    <div class="gradient">
                        <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante">
                </header>
                <section id="s2w2017-copy">
                    <a href="http://dan-on.com/ca-fr/collation-gagnante" class="s2w2017-btn"><span>Revenir au concours</span></a>
                    <h2 style="text-align: center;">RÈGLEMENT OFFICIEL DU CONCOURS «&nbsp;OIKOS LA COLLATION GAGNANTE 2017&nbsp;»</h2>
                    <p>Le concours «&nbsp;Oikos La collation gagnante 2017&nbsp;» (le «&nbsp;Concours&nbsp;») est organisé par Danone Inc. (l'«&nbsp;Organisateur du Concours&nbsp;»). L'Organisateur du Concours est responsable du Concours, de son organisation et des règles du Concours (le «&nbsp;Règlement&nbsp;»).</p>
                    <p>Le Concours se déroulera du 7 mars 2017 à <span style="white-space:nowrap;">10&nbsp;h 00&nbsp;min 00&nbsp;s</span>, heure normale de l'Est (HNE), au 21 mai 2017 à <span style="white-space:nowrap;">23&nbsp;h 59&nbsp;min 59&nbsp;s</span> (HNE) (la «&nbsp;Période du Concours&nbsp;»).</p>
                    <p>En s'inscrivant au Concours, les participants (chaque participant, un «&nbsp;Participant&nbsp;», ensemble les «&nbsp;Participants&nbsp;») courent la chance de gagner un Prix hebdomadaire et/ou le Grand Prix (tels que définis <span style="white-space:nowrap">ci-après</span>), le tout en conformité avec les conditions énoncées <span style="white-space:nowrap">ci-dessous</span>.</p>
                    <p>En participant au Concours, les Participants acceptent d’être liés par le présent Règlement.</p>
                    <h3>1. ADMISSIBILITÉ</h3>
                    <p>Ce Concours s'adresse à tous les résidents du Canada ayant atteint l'âge légal de la majorité dans leur province ou territoire de résidence au moment de leur inscription au Concours.</p>
                    <p>Sont exclus les employés, agents, représentants, administrateurs et dirigeants de l’Organisateur du Concours, de ses filiales, de ses sociétés affiliées, de ses compagnies mères, de leurs agences de publicité et de promotion, des commanditaires, des fournisseurs de prix, de matériel et de services liés au présent Concours, ou de tout autre intervenant directement lié à la tenue de ce Concours, ainsi que les membres de leur famille immédiate (frères, sœurs, enfants, père, mère), leur conjoint légal ou de fait et toutes les personnes avec lesquelles ces employés, agents, représentants, administrateurs et dirigeants sont domiciliés.</p>
                    <h3>2. COMMENT PARTICIPER</h3>
                    <p>AUCUN ACHAT REQUIS. Pour chaque Participant, un code QR ou un code alphanumérique est requis pour participer au concours et augmenter ses chances de gagner.</p>
                    <p class="s2w2017-title"><strong>2.1</strong> Il existe trois&nbsp;(3) façons d’obtenir un code QR ou un code alphanumérique pour participer au Concours.</p>
                    <p class="s2w2017-title"><strong>2.1.1</strong> Code alphanumérique disponible sur la page d’accueil du Concours.</p>
                    <p>Durant la Période du Concours, Danone offre un code alphanumérique sur la page d’accueil du concours. Ce code donne accès au tirage du Grand Prix et peut être utilisé une seule fois par Participant.</p>
                    <p class="s2w2017-title"><strong>2.1.2</strong> Code QR ou code alphanumérique avec achat</p>
                    <p>En achetant un produit participant de yogourt grec Oikos de Danone Inc., vous trouverez un code QR ou un code alphanumérique sur l’emballage.</p>
                    <p class="s2w2017-title"><strong>2.1.3</strong> Code alphanumérique sans achat</p>
                    <p>Pour participer sans achat et recevoir un code unique, veuillez écrire à la main une lettre d'au moins cinquante&nbsp;(50) mots expliquant quel prix vous aimeriez gagner et pourquoi. Au bas de la lettre, inscrivez à la main votre nom, adresse, code postal et adresse courriel, puis signez la lettre. Postez la lettre dans une enveloppe suffisamment affranchie à : Publicis a/s «&nbsp;Concours Oikos La collation gagnante&nbsp;», 3530, boul. Saint-Laurent, bureau 300, Montréal, Québec, H2X&nbsp;2V1. Sur réception de votre lettre, l'Organisateur du Concours vous enverra, par courriel, un code unique qui vous permettra de participer au Concours ou d'augmenter vos chances de gagner.</p>
                    <p>Votre lettre doit être postée avant la date de fin du Concours, le cachet de la poste en faisant foi. Limite d'une&nbsp;(1) lettre par enveloppe. Limite de cinq&nbsp;(5) lettres de demande d'un code unique durant la Période du Concours. Les demandes illisibles et/ou incomplètes ne sont pas admissibles. Les photocopies, les copies générées par ordinateur ou reproduites mécaniquement, ainsi que les participations de masse, sont inadmissibles. Durant la Période du Concours, vous devez utiliser la même adresse courriel pour toutes vos demandes de code unique. </p>
                    <p class="s2w2017-title"><strong>2.2</strong> Inscription. Pour participer au Concours :</p>
                    <p class="s2w2017-underline">En utilisant un code QR</p>
                    <ul>
                        <li>Balayez le code QR que vous trouverez sur les emballages Oikos spécialement identifiés. Vous serez redirigé vers <a href="http://www.dan-on.ca/oikos" target="_blank">www.dan-on.ca/oikos</a>.</li>
                        <li>Inscrivez votre adresse courriel et cliquez sur «&nbsp;Participer&nbsp;».</li>
                        <li>Si vous êtes un membre DanOn, un champ apparaîtra. Inscrivez-y votre mot de passe et cliquez sur «&nbsp;Participer&nbsp;» de nouveau pour vous inscrire au Concours.</li>
                        <li>Si vous n'êtes pas un membre DanOn, vous devrez en devenir un. Un formulaire d'inscription électronique apparaîtra.</li>
                        <li>Remplissez le formulaire d'inscription électronique (le «&nbsp;Formulaire d’inscription&nbsp;»).</li>
                        <li>Une fois le Formulaire d’inscription rempli, cliquez sur le bouton «&nbsp;J’ouvre une session&nbsp;» au bas de la page et vous serez automatiquement inscrit au Concours. </li>
                        <li>Si le message «&nbsp;Félicitations ! Vous avez entré un code gagnant.&nbsp;» s’affiche avec un visuel et le nom d'un prix, cela signifie que vous avez été sélectionné pour gagner ce prix. Cliquez sur «&nbsp;J'accepte ce prix&nbsp;» si vous voulez recevoir votre prix ou «&nbsp;Je refuse ce prix&nbsp;» si vous décidez de le refuser.
                            <ul>
                                <li>Si vous avez cliqué sur «&nbsp;J'accepte ce prix&nbsp;», veuillez inscrire votre prénom, votre nom, votre adresse, votre ville, votre province, votre code postal et votre numéro de téléphone, puis répondez à la question d'habileté mathématique.</li>
                                <li>Cliquez sur «&nbsp;Envoyer&nbsp;».</li>
                            </ul>
                        </li>
                        <li>Si le message «&nbsp;Vous n'avez pas gagné de prix instantané, mais votre participation a été enregistrée pour le tirage du gros lot de 10&nbsp;000&nbsp;$. Vous avez accumulé [XX] participation(s) pour le tirage au sort. Les gagnants seront avisés par courriel. Bonne chance !&nbsp;» s’affiche, cela signifie que vous n'avez pas gagné de Prix Instantané et que votre participation sera valide pour le tirage du Grand Prix.</li>
                    </ul>
                    <p class="s2w2017-underline">En utilisant un code alphanumérique</p>
                    <ul>
                        <li>Visitez le <a href="http://www.dan-on.ca/oikos" target="_blank">www.dan-on.ca/oikos</a>.</li>
                        <li>Entrez le code alphanumérique à 10 chiffres qui se retrouve sur les emballages Oikos spécialement identifiés.</li>
                        <li>Inscrivez votre courriel et cliquez sur «&nbsp;Participer&nbsp;».</li>
                        <li>Si vous êtes un membre DanOn, un champ apparaîtra. Inscrivez-y votre mot de passe et cliquez sur «&nbsp;Participer&nbsp;» de nouveau pour vous inscrire au Concours.</li>
                        <li>Si vous n'êtes pas un membre DanOn, vous devrez en devenir un. Un formulaire d'inscription électronique apparaîtra.</li>
                        <li>Remplissez le formulaire d'inscription électronique (le «&nbsp;Formulaire d’inscription&nbsp;»).</li>
                        <li>Une fois le Formulaire d’inscription rempli, cliquez sur le bouton «&nbsp;J’ouvre une session&nbsp;» au bas de la page et vous serez automatiquement inscrit au Concours.</li>
                        <li>Si le message «&nbsp;Félicitations ! Vous avez entré un code gagnant.&nbsp;» s’affiche avec un visuel et le nom d'un prix, cela signifie que vous avez été sélectionné pour gagner ce prix. Cliquez sur «&nbsp;J'accepte ce prix&nbsp;» si vous voulez recevoir votre prix ou «&nbsp;Je refuse ce prix&nbsp;» si vous décidez de le refuser.
                            <ul>
                                <li>Si vous avez cliqué sur «&nbsp;J'accepte ce prix&nbsp;», veuillez inscrire votre prénom, votre nom, votre adresse, votre ville, votre province, votre code postal et votre numéro de téléphone, puis répondez à la question d'habileté mathématique. </li>
                                <li>Cliquez sur «&nbsp;Envoyer&nbsp;».</li>
                            </ul>
                        </li>
                        <li>Si le message «&nbsp;Vous n'avez pas gagné de prix instantané, mais votre participation a été enregistrée pour le tirage du gros lot de 10&nbsp;000&nbsp;$. Vous avez accumulé [XX] participation(s) pour le tirage au sort. Les gagnants seront avisés par courriel. Bonne chance !&nbsp;» s’affiche, cela signifie que vous n'avez pas gagné de Prix Instantané et que votre participation sera valide pour le tirage du Grand Prix.</li>
                    </ul>
                    <p>Afin de participer au Concours, les témoins de connexion (<i>cookies</i>) doivent être acceptés.</p>
                    <p>Pour les fins du présent Règlement, une inscription valide au Concours est <span style="white-space:nowrap">ci-après</span> définie comme une «&nbsp;Inscription&nbsp;».</p>
                    <p class="s2w2017-title"><strong>2.3</strong> Il y a une limite de cinq&nbsp;(5) codes par jour par Participant. </p>
                    <p class="s2w2017-title"><strong>2.4</strong> Disqualification</p>
                    <p>Les Participants doivent respecter les conditions suivantes, à défaut de quoi ils pourront être disqualifiés et leur Inscription pourra être annulée : </p>
                    <ul>
                        <li>Les Participants doivent se créer un compte DanOn avec une adresse courriel valide;</li>
                        <li>Un&nbsp;(1) seul formulaire d'inscription par personne sera accepté;</li>
                        <li>Les Participants doivent, en tout temps, utiliser la même adresse courriel durant la Période du Concours;</li>
                        <li>L'utilisation de plus d'une&nbsp;(1) adresse courriel engendrera la disqualification automatique du Participant. Les comptes qui auront été créés par ce même Participant seront disqualifiés.</li>
                    </ul>
                    <p class="s2w2017-title"><strong>2.5</strong> Présomption</p>
                    <p>Tout compte DanOn créé sera réputé avoir été créé par le titulaire de l'adresse courriel utilisée.</p>
                    <h3>3. PRIX</h3>
                    <p>Un total de six mille neuf cent vingt-six (6 926) prix (individuellement ou collectivement, un ou les «&nbsp;Prix&nbsp;») seront remis dans le cadre de ce Concours, tels que décrits <span style="white-space:nowrap">ci-dessous</span>.</p>
                    <p class="s2w2017-title"><strong>3.1</strong> Prix instantanés</p>
                    <p>Un total de six mille neuf cent vingt-cinq (6&nbsp;925) Prix Instantanés seront remis au hasard durant la Période du Concours (individuellement, un «&nbsp;Prix Instantané&nbsp;» et collectivement les «&nbsp;Prix Instantanés&nbsp;»).</p>
                    <p>Les Prix Instantanés consistent en :</p>
                    <ul>
                        <li>Cinq&nbsp;(5) Prix Instantanés de deux mille dollars canadiens (2&nbsp;000&nbsp;$ CA) remis sous la forme d'un chèque émis au nom du gagnant.</li>
                        <li>Vingt&nbsp;(20) Prix Instantanés d’une&nbsp;(1) Carte-cadeau Air Canada de mille dollars canadiens (1 000&nbsp;$ CA). Les Cartes-cadeaux Air Canada sont seulement échangeables contre des produits et services d’Air Canada et en conformité avec les modalités relatives aux Cartes-cadeaux Air Canada. Pour connaître les modalités complètes relatives aux Cartes-cadeaux Air Canada, veuillez consulter <a href="http://aircanada.com/fr/giftcard" target="_blank">aircanada.com/fr/giftcard</a>. Air Canada n’est pas responsable de l’exécution de cette offre.</li>
                        <li>Cinquante&nbsp;(50) Prix Instantanés d’un&nbsp;(1) certificat-cadeau de cinq cents dollars canadiens (500&nbsp;$ CA) pour l’un des 100 meilleurs restaurants au Canada. Le certificat-cadeau est échangeable dans l'un des 100 meilleurs restaurants au Canada, au choix du gagnant. Pour consulter la liste des 100 meilleurs restaurants au Canada, visitez le <a href="http://canadas100best.com/canadas-100-best-restaurants/" target="_blank">canadas100best.com</a>.</li>
                        <li>Cinquante&nbsp;(50) Prix Instantanés d’une&nbsp;(1) carte-cadeau Ticketmaster de cent dollars canadiens (100&nbsp;$ CA). La carte-cadeau peut être utilisée pour acheter la plupart des billets et des services vendus par Ticketmaster. Pour les conditions générales relatives à la carte-cadeau Ticketmaster, visitez le <a href="http://www.ticketmaster.ca/h/giftcards/terms.html" target="_blank">ticketmaster.ca</a>.</li>
                        <li>Six mille huit cents (6 800) Prix Instantanés d’un&nbsp;(1) coupon échangeable contre un produit Oikos gratuit, d'une valeur de 5,99&nbsp;$. Le coupon valable pour un produit Oikos gratuit peut être échangé avant la date d’expiration chez les détaillants participants.</li>
                    </ul>
                    <p>La valeur totale approximative au détail des six mille neuf cent vingt-cinq (6&nbsp;925) Prix Instantanés est de cent mille sept cent trente-deux dollars canadiens (100 732&nbsp;$ CA).</p>
                    <p>Dans l'éventualité où un Prix Instantané ne pourrait être remis tel que décrit, pour quelque raison que ce soit, l'Organisateur du Concours se réserve le droit de remplacer le Prix par un autre Prix de valeur égale ou supérieure, et ce, sans engager sa responsabilité.</p>
                    <p>Dans l'éventualité où un ou des Prix Instantanés n'auraient pas été réclamés ou remis durant la Période du Concours, un tirage au sort serait effectué à la fin de la Période du Concours parmi toutes les inscriptions admissibles reçues.</p>
                    <p>En aucun cas l’Organisateur du Concours ne sera tenu responsable de plus de six mille neuf cent vingt-cinq (6&nbsp;925) Prix Instantanés.</p>
                    <p class="s2w2017-title"><strong>3.1.1</strong> Limite de Prix Instantanés par Participant</p>
                    <p>Il y a une limite de trois&nbsp;(3) Prix Instantanés par Participant pour toute la Période du Concours. Sous réserve des termes et conditions du présent Règlement, les gagnants des Prix Instantanés demeurent éligibles pour le Grand Prix.</p>
                    <p class="s2w2017-title"><strong>3.2</strong> Grand Prix</p>
                    <p>Il y a un&nbsp;(1) Grand Prix à gagner durant le Concours (le «&nbsp;Grand Prix&nbsp;»).</p>
                    <p>Le Grand Prix consiste en :</p>
                    <ul>
                        <li>Un&nbsp;(1) Grand Prix de dix mille dollars canadiens (10&nbsp;000&nbsp;$ CA) remis sous la forme d'un chèque émis à l'ordre du gagnant.</li>
                    </ul>
                    <p>Dans l'éventualité où le Grand Prix ne pourrait être remis tel que décrit, pour quelque raison que ce soit, l'Organisateur du Concours se réserve le droit de remplacer le Prix par un autre Prix de valeur égale ou supérieure, et ce, sans engager sa responsabilité.</p>
                    <p>En aucun cas l’Organisateur du Concours ne sera tenu responsable de plus d'un&nbsp;(1) Grand Prix.</p>
                    <p class="s2w2017-title"><strong>3.3</strong> Général</p>
                    <p>En sus des autres conditions énoncées dans le présent Règlement, les conditions suivantes s’appliquent aux Prix offerts :</p>
                    <ul>
                        <li>Pour être admissible au tirage des Prix, le Participant doit être inscrit au Concours et posséder un compte valide.</li>
                        <li>Si une partie du Prix n'est pas utilisée, aucune compensation ne sera octroyée au gagnant.</li>
                        <li>Tous les coûts, dépenses, charges, droits et taxes (fédérales, provinciales, locales ou autres) et tous les frais qui ne sont pas expressément décrits au présent Règlement comme étant compris dans un Prix doivent être entièrement assumés par le gagnant et ce dernier en a l’entière responsabilité.</li>
                        <li>Tous les Prix doivent être acceptés tels quels et ne peuvent être transférés, substitués ou échangés contre de l'argent ou tout autre Prix.</li>
                        <li>Tous les Prix doivent être réclamés avant le 31 décembre 2017. Sujet aux dispositions du présent Règlement, tout Prix non réclamé sera considéré comme perdu et ne sera donc pas offert de nouveau.</li>
                        <li>Aucun transfert, assignation ou substitution n'est permis, sauf par l'Organisateur du Concours, qui se réserve le droit, à sa seule discrétion, de substituer un Prix de valeur égale ou supérieure si le Prix n'est pas disponible, pour quelque raison que ce soit, en raison de circonstances hors de son contrôle.</li>
                        <li>Tout Prix représenté dans le matériel promotionnel l’est à des fins d'illustration seulement et peut ne pas être exactement le ou les article(s) offert(s) comme Prix.</li>
                        <li>Les marques de commerce, les logos et toutes les marques de service (y compris les produits individuels et les noms des détaillants) sont la propriété de leurs propriétaires respectifs.</li>
                    </ul>
                    <h3>4. SÉLECTION DES GAGNANTS</h3>
                    <p class="s2w2017-title"><strong>4.1</strong> Prix Instantanés</p>
                    <p>Durant toute la Période du Concours, des Prix Instantanés seront attribués au hasard selon un algorithme qui calculera le nombre de Prix disponibles et choisira une heure gagnante. Une heure gagnante consiste en une date et une heure spécifiques (heure, minutes, secondes) (<span style="white-space:nowrap">ci-après</span> «&nbsp;Heure Gagnante&nbsp;»). Voici un exemple d'une Heure Gagnante fictive : 15 avril 2017 à 22&nbsp;h 21&nbsp;min 07&nbsp;s (HE). Le premier Participant qui clique sur «&nbsp;Participer&nbsp;» après avoir inscrit un code QR ou un code alphanumérique valide à cette Heure Gagnante exacte sera sélectionné pour un Prix. Dans l'éventualité où aucun Participant n'aurait cliqué sur «&nbsp;Participer&nbsp;» après avoir inscrit un code QR ou un code alphanumérique valide à cette «&nbsp;Heure Gagnante&nbsp;», le prochain Participant qui cliquerait sur «&nbsp;Participer&nbsp;» après avoir inscrit un code QR ou un code alphanumérique valide serait sélectionné pour un Prix.</p>
                    <p class="s2w2017-title"><strong>4.2</strong> Grand Prix</p>
                    <p>À la fin de la Période du Concours, un&nbsp;(1) Participant sera tiré au sort parmi toutes les Inscriptions admissibles reçues pendant la Période du Concours. Le tirage au sort du Grand Prix sera effectué par l'Organisateur du Concours, par l'entremise de son représentant Publicis Canada Inc., situé au 3530, boulevard Saint-Laurent, bureau 300, Montréal, Québec, H2X&nbsp;2V1 le 25 mai 2016 à 10&nbsp;h 30&nbsp;min 00&nbsp;s (HAE).</p>
                    <p class="s2w2017-title"><strong>4.3</strong> Chances de gagner</p>
                    <p class="s2w2017-underline">Prix Instantanés</p>
                    <p>Pour chaque Participant, les chances de gagner un Prix Instantané dépendent du nombre de personnes ayant cliqué sur le bouton «&nbsp;Participer&nbsp;» après avoir entré un code QR ou un code alphanumérique valide. Ainsi, les chances de gagner dépendent du nombre total de Participants sur le site Web du Concours au moment de la participation. Les prix sont répartis au hasard en diverses Heures Gagnantes durant la Période du Concours par un programme informatique.</p>
                    <p class="s2w2017-underline">Grand Prix </p>
                    <p>Pour chaque Participant, les chances de gagner le Grand Prix dépendent (i) du nombre total d’Inscriptions admissibles reçues durant la Période du Concours et (ii) du nombre total d'inscriptions de codes QR ou de codes alphanumériques par Participant.</p>
                    <p class="s2w2017-title"><strong>4.4</strong> Heure officielle</p>
                    <p>Les serveurs de l'Organisateur du Concours constituent l'outil officiel servant à déterminer l'heure pour ce Concours. L'heure à laquelle une Inscription est reçue par l'Organisateur du Concours sera considérée comme l'heure à laquelle elle est reçue par le serveur de courrier ou le serveur Web (selon ce qui s'applique) de l'Organisateur du Concours, tel que déterminé par l'horloge du serveur en question.</p>
                    <h3>5. ATTRIBUTION DES PRIX</h3>
                    <p class="s2w2017-title"><strong>5.1</strong> Prix Instantané d'un certificat-cadeau échangeable contre un produit Oikos gratuit.</p>
                    <p>Les gagnants d'un certificat-cadeau échangeable contre un produit Oikos gratuit recevront leur certificat par la poste dans un délai de six&nbsp;(6) semaines après leur sélection.</p>
                    <p>Afin d'être déclaré gagnant, le Participant doit :</p>
                    <ul>
                        <li>Compléter correctement et dans son entièreté le formulaire qui suit le message indiquant que le Participant a entré un code gagnant lui donnant droit à un Prix instantané;</li>
                        <li>Répondre correctement à la question d'habileté mathématique contenue dans le formulaire.</li>
                    </ul>
                    <p class="s2w2017-title"><strong>5.2</strong> Pour tous les Prix Instantanés autres que les certificats-cadeaux échangeables contre des produits Oikos gratuits, et pour le gagnant du Grand Prix :</p>
                    <p>Les gagnants des Prix Instantanés autres que les certificats échangeables contre des produits Oikos gratuits, de même que le gagnant du Grand Prix, seront avisés par téléphone ou par courriel par les Organisateurs du Concours dans un délai de dix &nbsp;(10) jours ouvrables suivant leur sélection.</p>
                    <p>Afin d'être déclaré gagnant, le Participant doit :</p>
                    <ul>
                        <li>Compléter et signer le formulaire de déclaration et d'exonération de responsabilité et de respect du Règlement («&nbsp;Formulaire de déclaration&nbsp;») qui lui sera transmis par l'Organisateur du Concours;</li>
                        <li>Retourner la copie originale signée à l'Organisateur du Concours dans les dix&nbsp;(10) jours suivant sa réception.</li>
                    </ul>
                    <p>Le Formulaire de déclaration inclut, notamment, la confirmation du respect du Règlement par le gagnant, une décharge de responsabilité en faveur de l’Organisateur du Concours, de ses dirigeants, administrateurs, employés, filiales, sociétés affiliées, compagnies liées et agents, sauf lorsqu’interdit par la loi, et l’autorisation permettant à l’Organisateur du Concours et à ses représentants d’utiliser le nom, la photo, la ressemblance, les déclarations relatives au Prix, le lieu de résidence et la voix du Participant sélectionné, sans aucune compensation, dans toute publicité de l’Organisateur du Concours et pour toute divulgation requise sans obtenir au préalable le consentement du gagnant.</p>
                    <p>Si un Participant tiré au sort ne retourne pas son Formulaire de déclaration dans le délai prescrit, ce Participant sera considéré comme ayant renoncé à son Prix et un autre tirage au sort sera effectué selon les conditions du présent Règlement, et ce, jusqu'à ce qu'un nouveau gagnant réclame son prix. Nonobstant ce qui précède, tout Prix non réclamé le 31 décembre 2017 ne sera pas offert à nouveau et sera considéré comme perdu.</p>
                    <p class="s2w2017-title"><strong>5.3</strong> Question d’habileté mathématique</p>
                    <p>Le Participant sélectionné pour un Prix doit répondre correctement à une question d’habileté mathématique dans un délai limité. La question requise par la loi sera posée par l’entremise d’un formulaire électronique disponible sur le site Web du Concours ou du Formulaire de déclaration.</p>
                    <p class="s2w2017-title"><strong>5.4</strong> Non transférable, non remplaçable</p>
                    <p>Le Prix doit être accepté tel quel par le gagnant et ne peut en aucun cas être, en tout ou en partie, vendu, cédé ou transféré à un tiers. Le Prix ne peut être remplacé ou substitué par, ou échangé contre, un autre Prix ou de l’argent, en tout ou en partie.</p>
                    <p class="s2w2017-title"><strong>5.5</strong> Fausse déclaration</p>
                    <p>Toute déclaration inexacte ou mensongère ou toute fraude entraînera la disqualification automatique du gagnant et la perte des droits quant au Prix. À défaut de respecter l’une des conditions mentionnées <span style="white-space:nowrap">ci-dessus</span> ou toute autre condition prévue au Règlement, le gagnant sera automatiquement disqualifié et perdra ses droits quant au Prix.</p>
                    <h3>6. CONDITIONS GÉNÉRALES</h3>
                    <p class="s2w2017-title"><strong>6.1</strong> Vérifications</p>
                    <p>Les Formulaires d’inscription, tout autre document requis par l’Organisateur du Concours et toute information qui y est consignée sont sujets à vérification par l’Organisateur du Concours. Tout Formulaire d’inscription et tout autre document requis par l’Organisateur du Concours qui est illisible, incomplet, frauduleux, copié ou reçu en retard, comportant une adresse courriel ou un numéro de téléphone invalide, ne comportant pas la bonne réponse à la question d’habileté mathématique ou autrement non conforme, pourra être rejeté et ne donnera pas droit à une participation ou à un Prix, selon le cas. Il est de la responsabilité de tout Participant de bien remplir le Formulaire d’inscription et tout autre document requis par l’Organisateur du Concours afin d’être contacté conformément au présent Règlement dans l’éventualité où il serait sélectionné pour un Prix.</p>
                    <p>Un Participant n'est pas gagnant tant que le processus de vérification n'est pas complété et qu'il n’a pas été établi que le Participant a respecté toutes les conditions du présent Règlement.</p>
                    <p class="s2w2017-title"><strong>6.2</strong> Déroulement du Concours</p>
                    <p>Toute tentative visant à endommager délibérément le site Web du présent Concours ou tout site Web relié au Concours ou à saboter le déroulement légitime du Concours constitue une violation des lois civiles et criminelles. Si de telles tentatives étaient menées, l’Organisateur du Concours se réserverait le droit de rejeter l’Inscription ou la participation du Participant en question et d'obtenir réparation légale ou équitable en vertu des lois applicables.</p>
                    <p class="s2w2017-title"><strong>6.3</strong> Décisions de l’Organisateur du Concours.</p>
                    <p>Toute décision de l’Organisateur du Concours à l’égard de tout aspect de ce Concours, incluant, sans s’y limiter, l’admissibilité et la disqualification de Formulaires d’inscription, sera finale et sans appel, sous réserve de toute décision de la Régie des alcools, des courses et des jeux du Québec.</p>
                    <p class="s2w2017-title"><strong>6.4</strong> Disqualification</p>
                    <p>Toute personne participant à ce Concours ou tentant d’y participer par un moyen contraire au Règlement ou de nature à être inéquitable envers les autres sera automatiquement disqualifiée et pourrait être référée aux autorités judiciaires compétentes.</p>
                    <p class="s2w2017-title"><strong>6.5</strong> Substitution de Prix</p>
                    <p>Dans l'éventualité où il serait impossible, difficile ou plus onéreux pour l’Organisateur du Concours d’attribuer un Prix (ou une partie du Prix) tel que décrit au présent Règlement, l’Organisateur du Concours se réserverait le droit d’attribuer un Prix (ou une partie du Prix) de même nature et de valeur équivalente ou, à son entière discrétion, la valeur monétaire du Prix (ou d’une partie du Prix) indiquée au présent Règlement.</p>
                    <p class="s2w2017-title"><strong>6.6</strong> Limite de responsabilité – Utilisation du Prix</p>
                    <p>Le gagnant dégage de toute responsabilité l’Organisateur du Concours, ses filiales, sociétés affiliées, compagnies mères, leurs agences de publicité et de promotion, leurs employés, agents, représentants, administrateurs et dirigeants (les «&nbsp;Parties exonérées&nbsp;») quant à tout dommage de quelque nature que ce soit que lui ou ses invités pourraient subir, directement ou indirectement, en raison de l’acceptation, de la possession ou de l’utilisation du Prix, ce qui comprend, entre autres, les accidents, blessures, décès, pertes d’agrément, inconvénients, déceptions, inquiétudes ou frustrations d’ordre physique ou psychologique.</p>
                    <p>À cet effet, le gagnant, en vertu des présentes (i) reconnaît et confirme que les Parties exonérées n’accordent aucune garantie ni assurance quelle qu'elle soit en ce qui concerne les Prix du Concours; (ii) reconnaît et confirme l’absence de toute garantie implicite en ce qui a trait à ce Concours ou aux Prix offerts, et (iii) reconnaît que la complétion et la signature du Formulaire de déclaration sont nécessaires à l’octroi de son Prix.</p>
                    <p class="s2w2017-title"><strong>6.7</strong> Limite de responsabilité – Participation au Concours</p>
                    <p>La personne qui participe ou tente de participer au présent Concours dégage de toute responsabilité les Parties exonérées pour tout dommage, réclamation ou préjudice qu’elle pourrait subir en raison de sa participation ou de sa tentative de participation au Concours.</p>
                    <p>Les Parties exonérées se dégagent de toute responsabilité relativement au mauvais fonctionnement de toute composante informatique, de tout logiciel ou de toute ligne de communication, relativement à la perte ou à l’absence de communication réseau ou relativement à toute transmission défaillante, incomplète, incompréhensible ou effacée par tout ordinateur ou réseau et qui pourrait limiter la possibilité pour toute personne de participer au Concours ou l’en empêcher.</p>
                    <p>Les Parties exonérées se dégagent de toute responsabilité pour tout dommage ou toute perte pouvant être causé, directement ou indirectement, en tout ou en partie, par le téléchargement de toute page Internet ou de tout logiciel et par la transmission de toute information en lien avec la participation au Concours.</p>
                    <p>L'Organisateur du Concours se décharge de ses obligations aux présentes lors de la survenance d’un cas de force majeure, ou advenant qu’un événement soit retardé ou remis pour toute cause hors de son contrôle, incluant, sans limitation, les catastrophes naturelles, ennemis publics, guerres, conflits civils, feux, inondations, explosions, conflits de travail ou grèves ou tout autre acte ou ordre d’une autorité gouvernementale.</p>
                    <p class="s2w2017-title"><strong>6.8</strong> Limite de responsabilité</p>
                    <p>Les Parties exonérées ne seront pas responsables en cas de perte, retard, vol, endommagement, brouillage, inexactitude, état incomplet, mauvaise adresse, mutilation, non-délivrance, délai, ou mauvais acheminement de courriels, points, codes, demandes ou réclamations de Prix, ou pour les erreurs, omissions, interruptions, effacements, défauts, ou le retard du fournisseur de câble, satellite ou services Internet, des lignes téléphoniques, ou dans les opérations ou transmissions d'information, dans chaque cas résultant de défaillances techniques ou autres ou de dysfonctionnements du matériel informatique, des logiciels, des appareils de communication ou des lignes de transmission, ou de corruption de données, de vol, de falsification, de destruction, d’accès non autorisé ou d’altération du matériel relié à la participation au Concours, la perte, l'erreur humaine ou autre. </p>
                    <p>De plus, les Parties exonérées ne sont pas responsables des communications électroniques qui sont non livrables en raison de toute forme de filtrage actif ou passif de toute nature, ou de l’insuffisance d'espace dans le compte courriel du Participant l’empêchant de recevoir des courriels.</p>
                    <p>Les Parties exonérées ne sont pas responsables des informations incorrectes ou inexactes, qu'elles soient causées par un Participant ou par tout équipement ou programmation associé ou utilisé dans le cadre du Concours ou par toute erreur technique ou humaine qui peut se produire dans la transmission, la réception ou le traitement de codes.</p>
                    <p>Les Parties exonérées ne sont pas responsables de tout autre problème ou erreur de quelque nature que ce soit (technique, humaine ou autre), lié ou non à l’ordinateur, au réseau, à l'impression, à l'ensemencement, à la typographie, à la mécanique, relativement à ou en lien avec le Concours, y compris, sans limitation, les erreurs qui peuvent se produire dans le cadre de l'administration du Concours, l'annonce des Prix ou des gagnants des Prix, le traitement des points, des codes, des demandes, l’addition des points, ou dans tous les éléments liés au Concours.</p>
                    <p class="s2w2017-title"><strong>6.9</strong> Limite de responsabilité – Fournisseurs de Prix</p>
                    <p>Le gagnant reconnaît qu’à compter de son acceptation d’un Prix, l’exécution des obligations liées au Prix devient l’entière et exclusive responsabilité des fournisseurs de services désignés pour les portions ne découlant pas de l’Organisateur du Concours, le cas échéant.</p>
                    <p class="s2w2017-title"><strong>6.10</strong> Modification</p>
                    <p>L’Organisateur du Concours se réserve le droit, à son entière discrétion et sujet à la conformité des exigences réglementaires et légales applicables, d’annuler, de terminer, de modifier ou de suspendre, en tout ou en partie, le présent Concours dans l’éventualité où il se manifesterait un virus, un mauvais fonctionnement de composantes informatiques, un événement ou toute intervention humaine pouvant corrompre ou affecter l’administration, la sécurité, l’impartialité ou le déroulement du Concours tel que prévu dans le présent Règlement.</p>
                    <p class="s2w2017-title"><strong>6.11</strong> Nombre de Prix attribués</p>
                    <p>Dans tous les cas, l’Organisateur du Concours, ses filiales, sociétés affiliées, compagnies mères, leurs agences de publicité et de promotion, leurs employés, agents, représentants, administrateurs et dirigeants, leurs fournisseurs de produits, de matériel ou de services liés à ce Concours ainsi que leurs employés, agents et représentants ne pourront être tenus responsables d’attribuer plus de Prix que le nombre indiqué dans le Règlement ou d’attribuer les Prix autrement que conformément au présent Règlement.</p>
                    <p>Si l'ordinateur, l'impression, la production, la mécanique, l'ensemencement, la typographie ou d’autres erreurs donnent lieu à un nombre valide de réclamations de Prix plus élevé que le nombre de Prix disponibles stipulé aux présentes, l’Organisateur du Concours se réserve le droit d'attribuer le nombre de Prix stipulé aux présentes par voie de tirage au sort parmi toutes les réclamations de Prix éligibles, non suspectes et valides reçues pour le Prix en question.</p>
                    <p class="s2w2017-title"><strong>6.12</strong> Autorisations</p>
                    <p>En s'inscrivant au Concours, les Participants autorisent l’affichage de leur nom sur le site Web de l’Organisateur du Concours, sur son blogue et sa page Facebook et son utilisation à toute fin utile reliée au présent Concours et aux fins promotionnelles et publicitaires de l’Organisateur du Concours et de ses produits et activités, en tout temps, sans frais, rémunération ou toute autre forme de compensation.</p>
                    <p>Chaque gagnant autorise l'Organisateur du Concours et ses représentants à utiliser, si requis, son nom, sa photographie, sa ressemblance, sa déclaration relative au(x) Prix, son lieu de résidence et sa voix à des fins publicitaires en lien avec le Concours, et ce, sans frais, rémunération ou toute autre forme de compensation.</p>
                    <p class="s2w2017-title"><strong>6.13</strong> Propriété des Formulaires d’inscription</p>
                    <p>Les Formulaires d’inscription sont la propriété exclusive de l’Organisateur du Concours et ne seront en aucun temps retournés aux Participants.</p>
                    <p class="s2w2017-title"><strong>6.14</strong> Propriété intellectuelle</p>
                    <p>L’Organisateur du Concours est le seul propriétaire du matériel et des produits promotionnels du Concours ainsi que des droits de propriété intellectuelle s'y rapportant et rien dans le présent Règlement ne doit s'interpréter de façon à conférer quelque droit que ce soit aux Participants à cet égard. </p>
                    <p class="s2w2017-title"><strong>6.15</strong> Communication avec les Participants</p>
                    <p>Sous réserve de ce qui est prévu au Règlement, aucune communication ou correspondance ne sera échangée avec les Participants, sauf avec les gagnants de Prix.</p>
                    <p class="s2w2017-title"><strong>6.16</strong> Identité du Participant</p>
                    <p>Aux fins du présent Règlement, le Participant est la personne dont le nom apparaît sur le Formulaire d’inscription et, sujet aux termes des présentes, c’est à cette personne que le Prix sera remis si elle est déclarée gagnante.</p>
                    <p class="s2w2017-title"><strong>6.17</strong> Différend</p>
                    <p>Un différend quant à l’organisation ou à la conduite du Concours peut être soumis à la Régie des alcools, des courses et des jeux du Québec afin qu’il soit tranché. Un différend quant à l’attribution d’un Prix peut être soumis à la Régie uniquement aux fins d’une intervention pour tenter de le régler.</p>
                    <p class="s2w2017-title"><strong>6.18</strong> Tribunal judiciaire compétent</p>
                    <p>Sous réserve des dispositions du paragraphe précédent concernant toute question relevant de la compétence de la Régie des alcools, des courses et des jeux du Québec comme condition préalable à l'Inscription à ce Concours, chaque Participant accepte que les litiges qui ne peuvent pas être réglés entre les parties, et toutes les causes d'action découlant de ou liées à ce Concours, doivent être réglés au cas par cas, sans recours à aucune forme de recours collectif, et exclusivement devant un tribunal compétent, à Montréal, Québec, lequel tribunal appliquera les lois en vigueur dans la province de Québec.</p>
                    <p class="s2w2017-title"><strong>6.19</strong> Divisibilité des paragraphes</p>
                    <p>Si un paragraphe du présent Règlement est déclaré ou jugé illégal, inexécutable ou nul par une cour compétente, alors ce paragraphe sera considéré nul, mais tous les autres paragraphes qui ne sont pas touchés seront appliqués dans les limites permises par la loi.</p>
                    <p class="s2w2017-title"><strong>6.20</strong> Genre</p>
                    <p>L’utilisation du genre masculin dans le présent Règlement sert uniquement à alléger le texte et désigne autant les hommes que les femmes.</p>
                    <p class="s2w2017-title"><strong>6.21</strong> Langue</p>
                    <p>En cas de divergence entre les versions française et anglaise du Règlement, la version française prévaudra.</p>
                    <p class="s2w2017-title"><strong>6.22</strong> Acceptation</p>
                    <p>En participant au Concours, les Participants acceptent d’être liés au Règlement du Concours et aux décisions de l’Organisateur du Concours, lesquelles décisions sont finales et sans appel à tous égards, y compris, sans s’y limiter, les décisions concernant l’admissibilité, la disqualification des Formulaires d’inscription ou l’attribution des Prix.</p>
                    <p class="s2w2017-title"><strong>6.23</strong> Renseignements personnels dans le cadre du Concours</p>
                    <p>Les renseignements personnels des Participants seront conservés dans la banque de données du Concours et l’Organisateur du Concours les utilisera pour les fins du Concours.</p>
                    <p>Aucun autre usage ne sera fait de l’information personnelle du Participant, à l’exception des cas où les Participants ont expressément indiqué dans le Formulaire d’inscription qu’ils désiraient recevoir plus d’information concernant l’Organisateur du Concours, ses produits et activités.</p>
                    <p class="s2w2017-title"><strong>6.24</strong> Règlement du Concours et noms des gagnants</p>
                    <p>Une copie du Règlement et du nom des gagnants sera disponible sur demande écrite à :</p>
                    <p style="text-align: center; line-height: 1.4;">DANONE Inc.<br>100 rue de Lauzon<br>Boucherville, Québec<br>J4B 1E6</p>
                    <p class="s2w2017-title"><strong>6.25</strong> Le Concours n’est pas associé à Facebook, ni géré, approuvé ou sponsorisé par Facebook.</p>
                    <p class="s2w2017-title"><strong>6.26</strong> Le Concours n'est pas géré ou sponsorisé par Instagram.</p>
                    <a href="http://dan-on.com/ca-fr/collation-gagnante" class="s2w2017-btn"><span>Revenir au concours</span></a>
                </section>
            </div>
        </section>
        {{> footer_fr}}
    </div>
</div>