<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{> rules_mobile}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{> rules_desktop}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>Contest rules</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-rules" class="s2w2017-en">
                <header>
                    <div class="gradient">
                        <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win">
                </header>
                <section id="s2w2017-copy">
                    <a href="http://dan-on.com/ca-en/snack-to-win" class="s2w2017-btn"><span>Return to contest</span></a>
                    <h2 style="text-align: center;">OFFICIAL “OIKOS SNACK TO WIN 2017” CONTEST RULES</h2>
                    <p>The “Oikos Snack to Win 2017” Contest (the “Contest”) is organized by Danone Inc. (the “Contest Organizer”). The Contest Organizer is responsible for the Contest, its organization and the Contest Rules (the “Rules”).</p>
                    <p>The Contest will run from March 7, 2017 at 10:00:00&nbsp;a.m. Eastern Time (ET) and will end on May 21, 2017 at 11:59:59&nbsp;p.m. (EDT) (the “Contest Period”).</p>
                    <p>By registering to the Contest, each entrant (each entrant is referred to as an "Entrant", together, the “Entrants”) may get a chance to win an Instant Prize and the Grand Prize (as such terms are hereinafter defined), in accordance with the conditions set forth below.</p>
                    <p>By entering the Contest, each Entrant agrees to be bound by the present Rules.</p>
                    <h3>1. ELIGIBILITY</h3>
                    <p>This Contest is open to all residents of Canada having reached the legal age of majority in his/her province or territory of residence upon entering the Contest.</p>
                    <p>Employees, agents, representatives, officers and directors of the Contest Organizer, of its subsidiaries, affiliated companies, parent corporations, advertising and promotion agencies, sponsors, suppliers of services related to this Contest, or of any other party directly associated with the holding of the Contest, as well as members of their immediate families (brothers, sisters, children, father, mother), their legal or common-law spouse, and any persons residing with these employees, agents, representatives, officers and directors are not eligible to participate.</p>
                    <h3>2. HOW TO PARTICIPATE</h3>
                    <p>NO PURCHASE NECESSARY. For each Entrant, a QR code or an alphanumeric code is required to enter into the Contest and to increase his/her chances of winning.</p>
                    <p class="s2w2017-title"><strong>2.1</strong> There are three&nbsp;(3) ways to obtain a QR code or an alphanumeric code to enter into the Contest.</p>
                    <p class="s2w2017-title"><strong>2.1.1</strong> Alphanumeric code available on the contest home page</p>
                    <p>During the Contest Period, Danone is offering an alphanumeric code on the contest home page. This code gives access to the Grand Prize and can be used only once per Entrant.</p>
                    <p class="s2w2017-title"><strong>2.1.2</strong> QR code or alphanumeric code with purchase</p>
                    <p>By purchasing any participating Oikos Greek yogurt from Danone Inc., you will find a QR or alphanumeric code on the packaging.</p>
                    <p class="s2w2017-title"><strong>2.1.3</strong> Alphanumeric code without purchase</p>
                    <p>To participate without any purchase and receive an alphanumeric code, handwrite a letter of at least 50 words explaining which Prize you would like to win and why. Handwrite your name, address, postal code and email address at the bottom of your letter and sign it. Place it in an envelope and mail it with sufficient postage to: Publicis, c/o "Oikos Snack to win Contest", 3530 St-Laurent Blvd, suite 300, Montréal, QC, H2X&nbsp;2V1. Upon receipt of your letter, the Contest Organizer will email you an alphanumeric code allowing you to enter the Contest or increasing your chances of winning.</p>
                    <p>Your letter must be postmarked no later than the end date and time of the relevant Contest Period, as set out above. Limit of one&nbsp;(1) letter per envelope. Limit of five&nbsp;(5) letters requesting an alphanumeric code during the Contest Period. Incomplete and/or illegible entries are ineligible. No photocopied, computer-generated facsimiles or, mechanically reproduced facsimiles, bulk or mass entries are permitted. During the Contest Period, all alphanumeric code requests must be made using the same email address.</p>
                    <p class="s2w2017-title"><strong>2.2</strong> Registration. To enter the Contest:</p>
                    <p class="s2w2017-underline">If using a promotional QR code</p>
                    <ul>
                        <li>Scan the QR code found on the specially marked Oikos packaging. You will be directed to <a href="http://www.dan-on.ca/oikos" target="_blank">www.dan-on.ca/oikos</a>.</li>
                        <li>Enter your email and press “Enter now”.</li>
                        <li>If you are a DanOn member, a field will appear. Enter your password, and click “Enter now” again, and you will be registered.</li>
                        <li>If you are not a DanOn member, you need to become a DanOn member. An electronic registration form will appear.</li>
                        <li>Fill out the electronic registration form ("Registration Form").</li>
                        <li>Once the Registration Form is completed, click "Enter now" at the bottom of the page to be registered in the Contest.</li>
                        <li>If the following message appears, it means that you have been selected to win a prize, "Congratulations! You have entered a winning code." Click "I accept this prize" if you want to receive your prize or "I decline this prize" if you decide to decline it.
                            <ul>
                                <li>If you have clicked "I accept this prize", please enter your first name, last name, address, city, province, postal code and telephone number and answer the mathematical skill-testing question.</li>
                                <li>Click "Send".</li>
                            </ul>
                        </li>
                        <li>If the following message appears, it means that you have not won an Instant Prize and that your entry will be valid for the Grand Prize draw, “You have not won an instant prize, but your entry has been registered for the $10,000 grand prize draw. You have accumulated [XX] entries in the grand prize draw. Winners will be notified by email. Good luck!”</li>
                    </ul>
                    <p class="s2w2017-underline">If using the alphanumeric code</p>
                    <ul>
                        <li>Please visit <a href="http://www.dan-on.ca/oikos" target="_blank">www.dan-on.ca/oikos</a>.</li>
                        <li>Enter the 10-digit alphanumeric code found on the specially marked Oikos packaging.</li>
                        <li>Enter your email and press “Enter now”.</li>
                        <li>If you are a DanOn member, a field will appear. Enter your password, click “Enter now” again, and you will be registered in the Contest.</li>
                        <li>If you are not a DanOn member, you need to become a DanOn member. An electronic registration form will appear.</li>
                        <li>Fill out the electronic registration form (“Registration Form”).</li>
                        <li>Once the Registration Form is filled out, click "Enter now" at the bottom of the page to be registered in the Contest.</li>
                        <li>If the following message appears with a visual and the name of a prize, it means that you have been selected to win a prize, "Congratulations! You have entered a winning code." Click "I accept this prize" if you want to receive your prize or "I decline this prize" if you decide to decline it.
                            <ul>
                                <li>If you have clicked "I accept this prize", please enter your first name, last name, address, city, province, postal code and telephone number and answer the mathematical skill-testing question.</li>
                                <li>Click "Send".</li>
                            </ul>
                        </li>
                        <li>If the following message appears, it means that you have not won an Instant Prize and that your entry will be valid for the Grand Prize draw, “You have not won an instant prize, but your entry has been registered for the $10,000 grand prize draw. You have accumulated [XX] entries in the grand prize draw. Winners will be notified by email. Good luck!”</li>
                    </ul>
                    <p>In order to enter the Contest, “cookies” have to be accepted.</p>
                    <p>For the purposes of these Rules, a valid registration in the Contest is defined as a "Registration".</p>
                    <p class="s2w2017-title"><strong>2.3</strong> There is a limit of five&nbsp;(5) code entries per day per Entrant.</p>
                    <p class="s2w2017-title"><strong>2.4</strong> Disqualification. Each Entrant shall respect the following requirements, failing which the Entrant may be disqualified and his/her Registration may be cancelled:</p>
                    <ul>
                        <li>Entrants must create a DanOn account using a valid email address.</li>
                        <li>Only one&nbsp;(1) Registration per person is allowed.</li>
                        <li>Entrants must use the same email address at all times during the Contest Period.</li>
                        <li>Use of more than one&nbsp;(1) email address will lead to automatic disqualification. Accounts created by the same person will be cancelled and disqualified.</li>
                    </ul>
                    <p class="s2w2017-title"><strong>2.5</strong> Presumptions. Any DanOn account created will be deemed to have been created by the holder of the email account.</p>
                    <h3>3. PRIZES</h3>
                    <p>A total of six thousand nine hundred and twenty-six (6,926) prizes (individually, a “Prize”, and collectively, the “Prizes”) will be awarded as part of this Contest, as described below.</p>
                    <p class="s2w2017-title"><strong>3.1</strong> Instant Prizes</p>
                    <p>There is a total of six thousand nine hundred and twenty-five (6,925) Instant Prizes available to be randomly awarded during the Contest Period (individually, an “Instant Prize”, and collectively, the “Instant Prizes”).</p>
                    <p>The Instant Prizes will consist of the following:</p>
                    <ul>
                        <li>Five&nbsp;(5) Instant Prizes of two thousand Canadian dollars (CAD$2,000), each awarded in the form of a cheque written to the order of the winner.</li>
                        <li>Twenty&nbsp;(20) Instant Prizes of one Air Canada Gift Card worth one thousand Canadian dollars (CAD$1,000). Each Air Canada Gift Card is only redeemable against Air Canada products and services and in accordance with the Air Canada Gift Card terms and conditions. For complete terms and conditions of the Air Canada Gift Cards, please visit <a href="http://aircanada.com/en/giftcard" target="_blank">aircanada.com/en/giftcard</a>. Air Canada is not a sponsor and is not responsible in any way of the execution of this offer.</li>
                        <li>Fifty&nbsp;(50) Instant Prizes of a gift certificate worth five hundred Canadian dollars (CAD$500) from one of Canada's 100 Best Restaurants. The gift certificate will be redeemable at one of Canada's 100 Best Restaurants, at the choice of the winner. To consult the list of Canada's 100 Best Restaurants, visit <a href="http://canadas100best.com/canadas-100-best-restaurants/" target="_blank">canadas100best.com</a>.</li>
                        <li>Fifty&nbsp;(50) Instant Prizes of a Ticketmaster gift card worth one hundred Canadian dollars (CAD$100). The Ticketmaster gift card can be used towards the purchase of most tickets, as well as many of the associated services sold through Ticketmaster. For terms and conditions pertaining to the Ticketmaster gift card, visit <a href="http://www.ticketmaster.ca/h/giftcards/terms.html" target="_blank">ticketmaster.ca</a>.</li>
                        <li>Six thousand eight hundred (6,800) Instant Prizes of a coupon for a free Oikos product, valued at $5.99. The Oikos free product coupons can be redeemed before their expiry date at all participating Canadian retailers where Oikos products are sold.</li>
                    </ul>
                    <p>The total approximate retail value of all six thousand nine hundred and twenty-five (6,925) Instant Prizes is one hundred thousand seven hundred and thirty-two Canadian dollars (CAD$100,732).</p>
                    <p>Contest Organizer reserves the right, in the event that an Instant Prize cannot be awarded as described for any reason, to substitute another Prize of equal or greater value, without any liability.</p>
                    <p>In the event that not all Instant Prizes are claimed/designated during the Contest Period, a random draw will be held at the end of the Contest Period among all eligible Registrations received.</p>
                    <p>In no event will the Contest Organizer be liable for more than six thousand nine hundred and twenty-five (6,925) Instant Prizes.</p>
                    <p class="s2w2017-title"><strong>3.1.1</strong> Limit of Instant Prizes per Entrant</p>
                    <p>There is a limit of three&nbsp;(3) Instant Prizes to be won per Entrant throughout the Contest Period. Subject to the terms and conditions set forth herein, Instant Prize winners remain eligible to win the Grand Prize.</p>
                    <p class="s2w2017-title"><strong>3.2</strong> Grand Prize</p>
                    <p>There is one&nbsp;(1) Grand Prize to be won during the Contest (the “Grand Prize”).</p>
                    <p>The Grand Prize consists of the following:</p>
                    <ul>
                        <li>One&nbsp;(1) Grand Prize of a ten thousand Canadian dollar (CAD$10,000) prize awarded in the form of a cheque written to the order of the winner.</li>
                    </ul>
                    <p>In the event that a selected Grand Prize cannot be awarded as described for any reason, the Contest Organizer reserves the right to substitute another Prize of equal or greater value, without any liability.</p>
                    <p>In no event will the Contest Organizer be liable for more than one&nbsp;(1) Grand Prize.</p>
                    <p class="s2w2017-title"><strong>3.3</strong> General</p>
                    <p>In addition to any other condition set forth in the present Rules, the following conditions apply to all Prizes offered:</p>
                    <ul>
                        <li>To be eligible for a Prize, the Entrant must be validly registered in the Contest and his/her account and Registration must be valid.</li>
                        <li>Should any part of the Prize not be used, no compensation will be provided to the winner.</li>
                        <li>All costs, expenses, charges, duties and taxes (federal, provincial, local or otherwise) and fees not expressly described herein as being part of a Prize shall be entirely borne by, and be the sole responsibility of the winner.</li>
                        <li>All Prizes must be accepted as awarded and cannot be transferred, substituted or redeemed for cash or for any other Prizes.</li>
                        <li>All Prizes must be claimed on or before December 31, 2017. Subject to the terms hereof, any unclaimed Prize will not be awarded and the Prize will be considered as forfeited.</li>
                        <li>No transfer, assignment, or substitution is permitted, except by the Contest Organizer, who reserves the right, in its sole discretion, to substitute a Prize for another Prize of equal or greater value, should the Prize be unavailable for any reason due to circumstances beyond its control.</li>
                        <li>Any Prize represented in promotional material is for illustration purposes only and may not be the exact item(s) offered as a Prize.</li>
                        <li>Trademarks, logos, and all service marks (including, without limitation, individual product and retailer names) are the property of their respective owners.</li>
                    </ul>
                    <h3>4. WINNERS SELECTION</h3>
                    <p class="s2w2017-title"><strong>4.1</strong> Instant Prizes</p>
                    <p>Throughout the Contest Period, Instant Prizes will be randomly allocated based on an algorithm that will calculate the number of prizes available and randomly choose a winning time during the period. A winning time is a specific date and time (hour, minutes, seconds) (hereafter "Winning Time"). Here is an example of a fictitious Winning Time: April 15, 2017 at 10:21:07&nbsp;p.m. (ET). The first Entrant who clicks "Participate" after entering a valid QR code or an alphanumeric code at this exact Winning Time will be selected for a Prize. In the event that no Entrant clicks "Participate" after entering a valid QR code or an alphanumeric code at this "Winning Time", the next participant who clicks "Participate" after entering a valid QR code or alphanumeric code will be selected for a Prize.</p>
                    <p class="s2w2017-title"><strong>4.2</strong> Grand Prize</p>
                    <p>At the end of the Contest Period, one&nbsp;(1) Entrant will be randomly selected among all valid Registrations received during the Contest Period. Random draws will be held by the Contest Organizer through its representative Publicis Canada Inc., located at 3530 St-Laurent boulevard, suite 300, Montréal, Quebec, H2X&nbsp;2V1 on May 25, 2017 at 10:30:00&nbsp;a.m. (EDT).</p>
                    <p class="s2w2017-title"><strong>4.3</strong> Chances of winning</p>
                    <p class="s2w2017-underline">Instant Prizes</p>
                    <p>For each Entrant, the chances of winning an Instant Prize depend on the time at which the "Participate" button is clicked after entering a valid QR code or alphanumeric code. Thus, chances of winning also depend on the number of Entrants on the Contest website at the time of entry. Prizes are spread randomly at various Winning Times during the Contest Period by a computer program.</p>
                    <p class="s2w2017-underline">Grand Prize</p>
                    <p>For each Entrant, the chances of winning the Grand Prize depend on (i) the total number of valid Registrations received during the Contest Period, and (ii) the total number of QR or alphanumeric code entries received per Entrant.</p>
                    <p class="s2w2017-title"><strong>4.4</strong> Official time</p>
                    <p>The Contest Organizer’s servers are the official timekeeping device for this Contest. The time that a Registration or an entry is received by the Contest Organizer will be considered to be the time at which it is received by the Contest Organizer’s mail server or Web server (as applicable), as determined in accordance with the applicable server's clock.</p>
                    <h3>5. AWARDING OF PRIZES</h3>
                    <p class="s2w2017-title"><strong>5.1</strong> Instant win of a free Oikos product certificate</p>
                    <p>The winners of a free Oikos product certificate will receive their certificate by mail within six (6) weeks following their selection.</p>
                    <p>In order to be declared winners, Entrants must:</p>
                    <ul>
                        <li>Correctly complete the entire form, which follows the message indicating that the Entrant has entered a winning code for an Instant Prize.</li>
                        <li>Correctly answer the mathematical skill-testing question included in the form.</li>
                    </ul>
                    <p class="s2w2017-title"><strong>5.2</strong> Instant winners of all Instant Prizes, other than the free Oikos product certificates, and Grand Prize winner</p>
                    <p>The winning Entrants of all Instant Prizes, other than the free Oikos product certificates, and the Grand Prize winner, will be notified by telephone or by email by the Contest Organizer within ten (10) working days following their selection as winners.</p>
                    <p>In order to be declared winners, Entrants must:</p>
                    <ul>
                        <li>Complete and sign the Declaration, Exoneration of Liability and Compliance with Rules Form (“Declaration Form”), which will be sent to him/her by the Contest Organizer.</li>
                        <li>Return an original signed copy of the Declaration Form to the Contest Organizer within ten (10) days of receiving it.</li>
                    </ul>
                    <p>The Declaration Form includes, without limitation, a confirmation that the winner will abide by the Rules, releases the Contest Organizer, its directors, officers, employees, subsidiaries, affiliated companies, related companies and agents from all liability, and allows the Contest Organizer and its representatives to use the winner’s name, photograph, likeness, statements about the Prize, place of residence and/or voice, without any compensation, in any advertising context by the Contest Organizer and for any required disclosure without having to obtain the winner’s prior consent.</p>
                    <p>If a randomly drawn Entrant fails to return the Declaration Form within the period provided, that Entrant will be deemed to have forfeited his Prize and another random draw will be held according to the provisions set forth in the present Rules until a new winner claims his/her Prize. Notwithstanding the foregoing, any Prize unclaimed by December 31, 2017 will not be put back for a random draw and will be deemed as lost.</p>
                    <p>Within thirty (30) days of receiving the duly completed and signed Declaration Form, the Contest Organizer will contact the winner to inform him/her of how the Prize will be delivered.</p>
                    <p class="s2w2017-title"><strong>5.3</strong> Mathematical skill-testing question</p>
                    <p>The selected Entrant for all Prizes must answer a mathematical skill-testing question correctly within a limited time. This question is required by law and will be posed in an electronic form on the Contest website or on the declaration of exoneration of liability and compliance (hereafter, the “Declaration”).</p>
                    <p class="s2w2017-title"><strong>5.4</strong> No assignment nor replacement</p>
                    <p>The Prize must be accepted as it stands by the winner and may not, in any case, be, in whole or in part, sold, assigned or transferred to a third party. The Prize must not be replaced by another Prize or exchanged for cash.</p>
                    <p class="s2w2017-title"><strong>5.5</strong> False declaration</p>
                    <p>Any inaccurate or false declaration or fraud will lead to automatic disqualification of the winner and loss of rights to the Prize. If the winner fails to abide by any of the conditions set out above or any other condition provided in the Rules, he/she will automatically be disqualified and will lose his/her rights to the Prize.</p>
                    <h3>6. GENERAL CONDITIONS</h3>
                    <p class="s2w2017-title"><strong>6.1</strong> Verifications</p>
                    <p>Registration Forms, other documents requested by the Contest Organizer and all information therein are subject to verification by the Contest Organizer. Any Registration Form, Declaration Form or any other document requested by the Contest Organizer that is illegible, incomplete, fraudulent, copied or received late bearing an invalid email address or phone number, not bearing the correct answer to the mathematical skill-testing question or otherwise noncompliant shall be rejected and will not entitle to any entry or to a Prize, as the case may be. Entrants are responsible for the correct and full completion of their Registration Form and/or any other document requested by the Contest Organizer in order to be reached in conformity with these Contest Rules if they are selected for a Prize.</p>
                    <p>An Entrant is not considered a winner until the verification process is completed by the Contest Organizer, and it is determined that the Entrant has complied with all terms of these Rules.</p>
                    <p class="s2w2017-title"><strong>6.2</strong> Conduct of the Contest</p>
                    <p>Any attempt to deliberately damage the Contest Internet website or any related website or to sabotage the legitimate conduct of this Contest constitutes a violation of civil and criminal laws. Should there be any such attempts, the Contest Organizer reserves the right to reject the Entrant’s Registration or entry and obtain legal or equitable relief under applicable laws.</p>
                    <p class="s2w2017-title"><strong>6.3</strong> Decisions of the Contest Organizer</p>
                    <p>Any decision of the Contest Organizer regarding any aspect of this Contest, including, without being limited to, the eligibility and/or disqualification of Registration Forms, shall be final and without appeal, subject to approval by the <i>Régie des alcools, des courses et des jeux du Québec</i>.</p>
                    <p class="s2w2017-title"><strong>6.4</strong> Disqualification</p>
                    <p>Any person entering or attempting to enter the Contest by means that are contrary to the Rules or unfair to other Entrants will automatically be disqualified and may be referred to the competent legal authorities.</p>
                    <p class="s2w2017-title"><strong>6.5</strong> Prize substitution</p>
                    <p>In the event where it would be impossible, difficult and/or more costly for the Contest Organizer to award a Prize (or part of a Prize) as described in these Contest Rules, the Contest Organizer reserves the right to award a Prize (or part of a Prize) of the same kind and of equivalent value or, at its sole discretion, the cash value of a Prize (or part of a Prize) as indicated in the Contest Rules.</p>
                    <p class="s2w2017-title"><strong>6.6</strong> Limitation of liability – use of Prize</p>
                    <p>The winner releases the Contest Organizer, its subsidiaries, affiliated companies, parent corporations, advertising and promotion agencies, employees, agents, representatives, officers and directors (“Released Parties”) from any liability for damage of any kind whatsoever that he or his guests may suffer, directly or indirectly, by reason of acceptance, possession or use of the Prize, including, among other things, accidents, injuries,  death,  loss  of  enjoyment,  inconveniences,  disappointments,  worries  or frustrations  of  a  physical  or psychological nature or any other nature whatsoever.</p>
                    <p>For this purpose, winner hereby (i) acknowledges and confirms that Released Parties are not granting any warranties or assurances of any kind pertaining to the Prizes awarded in connection with the Contest; (ii) acknowledges and confirms the absence of any implied warranties in connection with the Contest or the Prizes, and (iii) agrees to complete and sign the Declaration Form before receiving his/her Prize when and as required.</p>
                    <p class="s2w2017-title"><strong>6.7</strong> Liability limit - participation in the Contest</p>
                    <p>Each person who enters or attempts to enter this Contest releases the Released Parties from any liability for any damages, claim or prejudice that may occur due to their participation or attempted participation in the Contest.</p>
                    <p>The Released Parties accept no liability for the malfunction of any computer component, software or communication line in connection with the loss or absence of network communication or with any defective, incomplete, incomprehensible or deleted transmission from any computer or network that may limit any person’s opportunity to enter the Contest or prevent him from entering the Contest.</p>
                    <p>The Released Parties accept no responsibility for any damage or loss that may be caused, directly or indirectly, in whole or in part, by the downloading of any Internet page or software or by the transmission of any information in connection with the Contest.</p>
                    <p>The Contest Organizer is released from its obligations in the event that an event is delayed or postponed for any reason outside its control, including, without being limited to, natural disasters, public enemies, war, civil conflict, fire, flooding, labour disputes or strikes or any other act or order of a governmental authority.</p>
                    <p class="s2w2017-title"><strong>6.8</strong> Liability limit</p>
                    <p>Released Parties shall not be responsible for lost, late, stolen, damaged, garbled, inaccurate, incomplete, misaddressed, mutilated, undelivered, delayed, or misdirected emails, points, codes and/or requests, Prize claims, or for errors, omissions, interruptions, deletions, defects, or delay in cable, satellite, Internet service provider, telephone lines, or in operations or transmission of information, in each case whether arising by the way of technical or other failures or malfunctions of computer hardware, software, communication devices, or transmission lines, or data corruption, theft, tampering, destruction, unauthorized access to or alternation of any participation material, loss, human error, or otherwise.</p>
                    <p>Further, Released Parties are not responsible for electronic communications, which are undeliverable as a result of any form of active or passive filtering of any kind, or insufficient space in an Entrant’s email account to receive email messages.</p>
                    <p>Released Parties are not responsible for incorrect or inaccurate entry information whether caused by Internet users or by any of the equipment or programming associated with or utilized in the Program or by any technical or human error, which may occur in the transmission, receipt, or processing of codes.</p>
                    <p>Released Parties are not responsible for any other errors or problems of any kind, whether computer, network, printing, seeding, typographical, mechanical, technical, human or otherwise, relating to or in connection with this Contest, including, without limitation, errors which may occur in connection with the administration of the Contest, the announcement of the rewards/reward recipients, or the Prizes/Prize winners, the processing of points, codes, requests, the tabulation of points, or in any Contest-related material.</p>
                    <p class="s2w2017-title"><strong>6.9</strong> Liability limit - Prize providers</p>
                    <p>The winner recognizes that, from the time that he accepts the Prize, the performance of obligations related to the Prizes becomes the sole and complete responsibility of the designated service providers with respect to portions not delivered by the Contest Organizer, if applicable.</p>
                    <p class="s2w2017-title"><strong>6.10</strong> Modification</p>
                    <p>The Contest Organizer reserves the right, at its sole discretion, subject to compliance with applicable legal and regulatory requirements, to cancel, terminate, modify or suspend all or any part of this Contest in the event of a virus infection, a computer malfunction, an incident or any human intervention that could corrupt or affect the administration, security, impartiality or running of the Contest as provided for in the Rules.</p>
                    <p class="s2w2017-title"><strong>6.11</strong> Number of Prizes awarded</p>
                    <p>In all cases, the Contest Organizer, its subsidiaries, affiliated companies, parent corporations, advertising and promotion agencies, employees, agents, representatives, officers and directors, and their suppliers of products, materials and services related to this Contest, and their employees, agents and representatives cannot be required to award more Prizes than the number indicated in the Rules or to award Prizes other than in accordance with the Rules.</p>
                    <p>If computer, printing, production, mechanical, seeding, typographical, or other errors result in more valid Prize claims for any Prize level than the number stated herein, the Contest Organizer reserves the right to award the stated number of Prizes for the Prize level at the issue in a random draw from among all eligible, non-suspect, and valid Prize claims received for the applicable Prize level.</p>
                    <p class="s2w2017-title"><strong>6.12</strong> Authorizations</p>
                    <p>By entering the Contest, Entrants agree to have their submitted name displayed on the Contest Organizer’s website, blog and Facebook page and used by us them for any purpose regarding the Contest and for promotional and advertising purposes in connection with the Contest Organizer and his products at any time, without any fee, remuneration or other form of compensation.</p>
                    <p>Each winner authorizes the Contest Organizer and its representatives to use, if required, his/her names, photo, likeness, statements regarding the Prize(s), place of residence and/or voice for advertising purposes in connection with the Contest, without any fee, remuneration or other form of compensation.</p>
                    <p class="s2w2017-title"><strong>6.13</strong> Ownership of entries</p>
                    <p>Registration Forms are the exclusive property of the Contest Organizer and will at no time be returned to Entrants.</p>
                    <p class="s2w2017-title"><strong>6.14</strong> Intellectual Property</p>
                    <p>The Contest Organizer is the sole owner of the Contest material and promotional products, as well as intellectual property rights thereto, and nothing in these Rules shall be construed so as to confer any right whatsoever to Entrants in this regard.</p>
                    <p class="s2w2017-title"><strong>6.15</strong> Communication with Entrants</p>
                    <p>Subject to the provisions of the Rules, there will be no communication or correspondence with Entrants, except with the winner of a Prize.</p>
                    <p class="s2w2017-title"><strong>6.16</strong> Entrant’s identity</p>
                    <p>For the purposes of the Rules, the Entrant is the person whose name appears on the Registration Form and, subject to the terms hereof, the Prize will be awarded to this person should he/she be declared a winner.</p>
                    <p class="s2w2017-title"><strong>6.17</strong> Litigation</p>
                    <p>Any litigation respecting the conduct or organization of the Contest may be submitted to the <i>Régie des alcools, des courses et des jeux du Québec</i> for a ruling. Any litigation respecting the awarding of a Prize may be submitted to the Régie for the purpose of helping the parties reach a settlement.</p>
                    <p class="s2w2017-title"><strong>6.18</strong> Competent legal tribunal</p>
                    <p>Subject to the provisions of the preceding paragraph regarding matters that fall under the jurisdiction of the <i>Régie des alcools, des courses et des jeux du Québec</i>, as a prior condition of Entry in this Contest, every Entrant agrees that disputes that cannot be settled between the parties, and all causes for action arising out of or connected with this Contest, must be settled case by case, without recourse to any form of class action, and exclusively before a competent court in Montréal, Quebec, which must apply the laws of the province of Quebec.</p>
                    <p class="s2w2017-title"><strong>6.19</strong> Unenforceability</p>
                    <p>If any paragraph of the Rules is declared or ruled to be illegal, unenforceable or void by a competent Court, then the paragraph in question shall be deemed void, but all other paragraphs not affected will be applied within the limitations of the law.</p>
                    <p class="s2w2017-title"><strong>6.20</strong> Gender</p>
                    <p>The masculine gender is used in these Rules solely for succinctness; it refers to both men and women.</p>
                    <p class="s2w2017-title"><strong>6.21</strong> Language</p>
                    <p>In the event of a discrepancy between the French and English versions of the Rules, the French version shall take precedence.</p>
                    <p class="s2w2017-title"><strong>6.22</strong> Acceptance</p>
                    <p>By participating in the Contest, Entrants agree to be bound by the Contest Rules and by the decisions of the Contest Organizer, which will be final and won’t be subject to appeal in any respect, including, without limitation, any decision concerning eligibility, disqualification of Registration Forms, or Prize attribution.</p>
                    <p class="s2w2017-title"><strong>6.23</strong> Personal information in connection with the Contest</p>
                    <p>Entrants’ personal information will be stored in the Contest database and the Contest Organizer will use it to contact Entrants for the purposes of the Contest.</p>
                    <p>No other use will be made of Entrants’ personal information, with the exception of Entrants who explicitly indicated when completing the Entry form that they wish to receive more information about the Contest Organizer, its products and/or activities.</p>
                    <p class="s2w2017-title"><strong>6.24</strong> Contest Rules and name of winners</p>
                    <p>A copy of the Rules and the names of the winners may be obtained upon written request to:</p>
                    <p style="text-align: center; line-height: 1.4;">DANONE Inc.<br>100 rue de Lauzon<br>Boucherville, Québec<br>J4B 1E6</p>
                    <p class="s2w2017-title"><strong>6.25</strong> The contest is in no way sponsored, endorsed or administered by, or associated with, Facebook.</p>
                    <p class="s2w2017-title"><strong>6.26</strong> The contest is not administered or sponsored by Instagram.</p>
                    <a href="http://dan-on.com/ca-en/snack-to-win" class="s2w2017-btn"><span>Return to contest</span></a>
                </section>
            </div>
        </section>
        {{> footer_en}}
    </div>
</div>