#s2w2017-main {
  #s2w2017-instantWinConfirm {
    background: #fff url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/instantwinconfirm/plan-arriere-montagne.jpg') center 120px no-repeat;
    background-size: cover;

    .contest-confirmation {
      .contest-confirmation__title {
        color: #31468f;
        font-size: 2em;
      }

      .contest-confirmation__lot--name {
        font-family: 'brochabold', sans-serif;
        font-size: 1.5em;
      }
    }
  }
}
