#s2w2017-main {
  #s2w2017-instantWinConfirm {
    background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/instantwinconfirm/plan-arriere-montagne-320.jpg') center 0 no-repeat;
    background-size: cover;
    padding-bottom: 2em;

    .contest-confirmation {
      .contest-confirmation__title {
        color: #31468f;
        font-family: 'brocharegular', sans-serif;
        font-size: 1.2em;
        font-weight: normal;
        letter-spacing: -0.01em;
        text-shadow: none;

        strong {
          font-family: 'brochabold', sans-serif;
          font-weight: normal;
        }
      }

      .contest-confirmation__lot--image {
        padding: 1em;
      }

      .contest-confirmation__lot--name,
      .contest-confirmation__lot--legal {
        color: #31468f;
        font-size: 1em;
        font-style: normal;
        letter-spacing: -0.025em;
      }

      .contest-confirmation__lot--name {
        font-size: 1.2em;
      }
    }

    .contest-confirmation__form {
      margin: 0 auto;
      max-width: 420px;
    }
  }
}
