#s2w2017-main {
    #s2w2017-landing {
        #s2w2017-carrousel {
            div {
                .s2w2017-slide {
                    transition: background 0.3s;
                    background-size: 110px 100px;
                }
            }
            .slick-slide {
                opacity: 0.8;
                &.slick-current {
                    opacity: 1;
                    div {
                        &.s2w2017-slide {
                            background-size: 145px 132px;
                        }
                    }
                    p {
                        opacity: 1;
                    }
                }
            }
            p {
                opacity: 0;
            }
        }
        #s2w2017-copy {
            p {
                font-size: 20px;
                &:first-child {
                    font-size: 17px;
                    margin-top: 0;
                }
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            div:first-child {
                height: 200px;
                margin: 15px 0;
            }
            div:last-child {
                height: 390px;
                background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/copy-codes-position.jpg');
            }
        }
        #s2w2017-freecode {
            & > div {
                &:last-child {
                    p {
                        &:first-child {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        #s2w2017-form {
            padding: 25px 0 30px;
            .s2w2017-inner-wrapper {
                max-width: 320px;
            }
            #s2w2017-cgu {
                label {
                    font-size: 10px;
                    line-height: 24px;
                    a {
                        font-size: 10px;
                    }
                }
                span#s2w2017-checkbox {
                    height: 30px;
                    span {
                        &::after {
                            top: 0;
                        }
                    }
                }
            }
        }
        &.s2w2017-en {
            #s2w2017-copy {
                div:first-child {
                    background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/prix-gros-lot-desktop-en.jpg');
                }
            }
        }
        &.s2w2017-fr {
            #s2w2017-copy {
                div:first-child {
                    height: 196px;
                    background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/prix-gros-lot-desktop.jpg');
                }
            }
        }
    }
}

.body-fixed{
    overflow: hidden;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
}