#s2w2017-concours .s2w2017-outer-wrapper > header p {
    font-size: 16px;
}

#s2w2017-main {
    #s2w2017-landing {
        #s2w2017-carrousel {
            padding-top: 20px;
            overflow: auto;
            .slick-slide {
                outline: none;
            }
            div {
                .s2w2017-slide {
                    width: 145px;
                    height: 132px;
                    margin: 0 auto;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
            p {
                margin-top: 10px;
                font-size: 15px;
                strong {
                    display: block;
                    font-size: 18px;
                }
                transition: 0.3s opacity;
            }
        }
        #s2w2017-copy {
            p {
                font-size: 17px;
                line-height: 1.2;
                margin: 0;
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            div:last-child {
                height: 240px;
                background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/copy-codes-position-mobile.jpg');
            }
        }
        #s2w2017-freecode {
            & > div {
                &:first-child {
                    background: #f20f23;
                    color: #FFF;
                    padding: 15px 0;
                    overflow: hidden;
                    p {
                        margin: 0;
                        font-size: 18px;
                        line-height: 1;
                        strong {
                            display: block;
                        }
                    }
                }
                &:last-child {
                    background: #fbfdfe;
                    padding: 15px;
                    box-shadow: 0px 2px 2.85px 0.15px rgba(7, 33, 68, 0.06);
                    p {
                        background: #fbfdfe;
                        margin: 0;
                        font-size: 15px;
                        line-height: 17px;
                        &:last-child {
                            margin-top: 10px;
                        }
                        strong {
                            font-size: 20px;
                            line-height: 1.125;
                        }
                    }
                }
            }
        }
        #s2w2017-form {
            padding: 25px 0 30px;
            .s2w2017-inner-wrapper {
                max-width: 280px;
                margin: 0 auto;
            }
            .alert-danger {
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
            }
            input {
                border: 1px solid rgba(57, 159, 202, 0.4);
                border-radius: 5px;
                background-color: #FFF !important;
                margin-bottom: 10px;
                font-family: 'Roboto', 'Brocha', 'Dosis', sans-serif;
                font-size: 12px;
            }
            #s2w2017-cgu {
                position: relative;
                label {
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    color: #d90c1e;
                    text-align: center;
                    display: block;
                    clear: both;
                    overflow: auto;
                    margin-bottom: 20px;
                    span {
                        display: block;
                        float: left;
                        &:last-child {
                            width: calc(100% - 24px);
                        }
                    }
                    a {
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        color: #d90c1e;
                        text-decoration: underline;
                    }
                }
                input {
                    position: absolute;
                    left: 5px;
                    top: 7px;
                    opacity: 0;
                }
                span#s2w2017-checkbox {
                    span {
                        display: block;
                        width: 24px;
                        height: 24px;
                        border: 1px solid rgba(57, 159, 202, 0.4);
                        background: #FFF;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        &::after {
                            position: absolute;
                            display: block;
                            width: 12px;
                            height: 12px;
                            top: 5px;
                            left: 4px;
                            border-radius: 2px;
                            content: " ";
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-family: "dn-icon" !important;
                        }
                    }
                }
                input:checked + label span#s2w2017-checkbox span::after {
                    content: "";
                    color: #0c4da2;
                    font-weight: bolder;
                }
            }
        }
        button.s2w2017-btn {
            width: 100%;
            border: none;
            font-size: 16px;
            padding-right: 10px;
            border-radius: 4px;
            padding-left: .4em;
            &::before {
                padding: 4.8px;
                padding-left: 0;
                margin-right: 10px;
                font-size: 20px;
                line-height: 32px;
                min-width: 20px;
            }
            span {
                top: 4px;
                width: calc(100% - 44px);
            }
        }
        &::-webkit-input-placeholder {
            opacity: 0.5
        }
        &::-moz-placeholder {
            opacity: 0.5
        }
        &::-ms-input-placeholder {
            opacity: 0.5
        }
        &::-moz-placeholder {
            opacity: 0.5
        }
        &.s2w2017-en {
            #s2w2017-carrousel {
                div {
                    .s2w2017-slide {
                        &.s2w2017-slide0 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide01.png');
                        }
                        &.s2w2017-slide1 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide02.png');
                        }
                        &.s2w2017-slide2 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide03.png');
                        }
                        &.s2w2017-slide3 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide04.png');
                        }
                        &.s2w2017-slide4 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide05.png');
                        }
                    }
                }
            }
            #s2w2017-copy {
                div:first-child {
                    background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/prix-gros-lot-en.jpg');
                }
            }
        }
        &.s2w2017-fr {
            #s2w2017-carrousel {
                div {
                    .s2w2017-slide {
                        &.s2w2017-slide0 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide01-fr.png');
                        }
                        &.s2w2017-slide1 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide02.png');
                        }
                        &.s2w2017-slide2 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide03.png');
                        }
                        &.s2w2017-slide3 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide04.png');
                        }
                        &.s2w2017-slide4 {
                            background-image: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/carrousel_slide05.png');
                        }
                    }
                }
            }
            #s2w2017-copy {
                div:first-child {
                    height: 196px;
                    background: url('//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/landing/prix-gros-lot.jpg');
                }
            }
        }
    }
}

.short-signup__form{
    margin-bottom:5em;
    padding-bottom: 1em;}

.body-fixed{
    overflow: hidden;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
}