<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{!> page_mobile -> your scss file name for mobile w/out the extension}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{!> page_desktop -> your scss file name for desktop w/out the extension}}
    }
</style>

<div id="s2w2017-concours">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span><!-- Titre on the blue banner --></span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-<!-- page -->" class="s2w2017-<!-- lang -> en/fr -->">
<!--
                <header>
                    <div class="gradient">
                        <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante">
                </header>
                FR/EN
                <header>
                    <div class="gradient">
                        <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win">
                </header>
-->
                <!-- Page specific content -->
            </div>
        </section>
        {{!> footer_fr || footer_en -> choose the correct language}}
    </div>
</div>