<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Oikos_Snack-to-Win_Retargeting_Fr_2017
URL of the webpage where the tag is expected to be placed: https://www.dan-on.com/ca-fr/collation-gagnante
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 03/29/2017
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos004;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos004;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{> landing_mobile}}

    {{> landing_slider}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{> landing_desktop}}
    }
</style>

<div id="s2w2017-concours" class="contest-landing">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>Bienvenue sur notre page concours</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-landing" class="s2w2017-fr">
                <header>
                    <div class="gradient">
                        <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante">
                </header>
                <section id="s2w2017-carrousel">
                    <div class="s2w2017-carrousel">
                        <div>
                            <div class="s2w2017-slide s2w2017-slide0"></div>
                            <p><strong>5 prix de 2&nbsp;000&nbsp;$</strong>en argent</p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide1"></div>
                            <p><strong>20 prix de 1&nbsp;000&nbsp;$</strong>en Cartes-cadeaux <br class="s2w2017-br-mobile">Air Canada</p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide2"></div>
                            <p><strong>50 prix de 100&nbsp;$</strong>en cartes-cadeaux <br class="s2w2017-br-mobile">Ticketmaster<sup>&reg;</sup></p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide3"></div>
                            <p><strong>50 prix de 500&nbsp;$</strong>en certificats-cadeaux échangeables<br class="s2w2017-br-mobile"> dans un des 100 meilleurs restaurants <br class="s2w2017-br-mobile">selon le site <i>Canada's 100 Best</i></p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide4"></div>
                            <p><strong>6&nbsp;800 prix</strong>en coupons échangeables contre <br class="s2w2017-br-mobile">des produits Oikos<sup>&reg;</sup> gratuits</p>
                        </div>
                    </div>
                </section>
                <section id="s2w2017-copy">
                    <div></div>
                    <div class="s2w2017-inner-wrapper">
                        <p>Entrez le code à 10 caractères apparaissant sur les produits Oikos<sup>&reg;</sup> participants pour courir la chance de gagner&nbsp;!</p>
                    </div>
                    <div></div>
                </section>
                <section id="s2w2017-freecode">
                    <div>
                        <div class="s2w2017-inner-wrapper">
                            <p class="s2w2017-long-shadow"><strong>Oikos<sup>&reg;</sup> vous offre votre <br class="s2w2017-br-mobile">premier code&nbsp;!</strong></p>
                        </div>
                    </div>
                    <div>
                        <div class="s2w2017-inner-wrapper">
                            <p>Entrez ce code <strong>OIKOS12345</strong></p>
                            <p>pour une chance de gagner <br class="s2w2017-br-mobile">notre gros lot de 10&nbsp;000&nbsp;$.</p>
                        </div>
                    </div>
                </section>
                <section id="s2w2017-form">
                    <div class="alert-danger">&nbsp;</div>
                    <div class="s2w2017-inner-wrapper">
                        <form action="/c/danon-contest" id="contest-landing-form">
                            <input id="contestId" name="contestId" type="hidden" value="S2W_2017" />
                            <div>
                                <input id="pincode" name="pincode" required="required" type="text" placeholder="Inscrivez votre code" />
                            </div>
                            <div>
                                <input data-format-control="emailAddress" id="contest-landing-email" name="contest-landing-email" required="required" required type="email" placeholder="Inscrivez votre courriel" />
                            </div>
                            <div id="s2w2017-cgu">
                                <div>
                                   <div class="msgRequired alert-danger">Veuillez cocher cette case si vous souhaitez continuer</div>
                                    <input id="contest-landing-cgu" required="required" type="checkbox" />
                                    <label for="contest-landing-cgu"><span id="s2w2017-checkbox"><span></span></span><span>J'ai lu et j'accepte le <br class="s2w2017-br-mobile"><a href="http://dan-on.com/ca-fr/collation-gagnante/reglement">Règlement officiel du concours.</a></span></label>
                                </div>
                            </div>
                            <button class="s2w2017-btn" type="submit"><span>Participer</span></button>
                        </form>
                    </div>
                </section>
            </div>
        </section>
        {{> footer_fr}}
    </div>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>

    $(function () {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-28851518-47', 'auto', 'snackToWin', {
            userId: Globals.CUSTOMER_ID
        });

        ga('snackToWin.set', 'page', '/ca-fr/collation-gagnante');
        ga('snackToWin.send', 'pageview');

        $('.s2w2017-carrousel').slick({
            arrows: false,
            autoplay: true,
            dots: true,
            mobileFirst: true,
            autoplaySpeed: 3000,
            focusOnSelect: true,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        centerMode: true,
                        centerPadding: '75px'
                    }
                }
            ]
        });

        $('.alert-danger').hide();
        var parameters = Utils.getUrlParameters();
        if (parameters.pincode !== undefined) $('#pincode').val(parameters.pincode);
        if (!Globals.SIGNED_IN && parameters['contest-landing-email'] !== undefined) {
            $('#contest-landing-email').val(parameters['contest-landing-email']);
            var status = window.contestLanding.checkEmail();
        }

        var errors = parameters.errors;
        if (errors) {
            $.each(errors.split(','), function (index, value) {
                var errorMessage = '';
                switch (value) {
                case "InvalidPincode":
                    errorMessage = "Ce code n’est pas valide.";
                    break;
                case "NoContestPincode":
                    errorMessage = "Ce code ne provient pas d’un produit Oikos<sup>&reg;</sup>.";
                    break;
                case "ExpiredPincode":
                    errorMessage = "Ce code est expiré.";
                    break;
                case "AlreadyUsedPincode":
                    errorMessage = "Ce code a déjà été utilisé.";
                    break;
                case "AlreadyUsedFreecode":
                    errorMessage = "Ce code a déjà été utilisé.";
                    break;
                case "MaxParticipations":
                    errorMessage = "Vous avez atteint la limite quotidienne de 5 participations. Revenez demain&nbsp;!";
                    break;
                default:
                    break;
                }
                $('.alert-danger').html(errorMessage);
                $('.alert-danger').show();
            });
            window.location.hash = "s2w2017-form";
        }
        
        $('.msgRequired').hide();
        $('#contest-landing-form').on('submit', function () {          
            $('#pincode','#contest-landing-cgu').blur(); 
            if(!$('#contest-landing-cgu').is(':checked')) {
               $('.msgRequired').show();
               $('#contest-landing-cgu').on('click', function() {
                    $('.msgRequired').hide(); 
               });
            }                
            
            if (Globals.SIGNED_IN === false) var status = window.contestLanding.checkEmail();
               if (window.contestLanding.checkEmail() === 'unavailable'){                 
                $('.msgRequired').html('L&apos;adresse courriel que vous avez utilisée est déjà associée à un compte dans un autre pays. Veuillez en utiliser une autre pour participer au concours.');
                $('.msgRequired').show();            
            }
            
            if ($('#contest-landing-form .msgRequired:visible').length) return false;

            // insert pincode validation here
            
            var $code = $('#pincode').val();
            var $is_unique = ($code == "OIKOS12345") ? "generic_code" : "unique_code";
            ga('snackToWin.send', 'event', 'code', 'submit', $is_unique);
            
           if(Globals.CUSTOMER_ID == "ANONYMOUS") {
                $('body').addClass('body-fixed');
            }            
            return Globals.SIGNED_IN;    
        });    
        
        $('#column-2').click(function() {
            $('#column-2').hide();
            $('body').removeClass('body-fixed');
        });        
        
        $('#column-2 .portlet-borderless-container').click(function(event){
          event.stopPropagation();
        });

        $('#navigation .loginForm fieldset').click(function() {
          $('#navigation .loginForm input').attr('checked', false);
          $('body').removeClass('body-fixed');
        });
        $('#navigation .loginForm fieldset').children().click(function(event) {
          event.stopPropagation();
        });
    });



  $(function () {
    $('#signupForm').submit(function() {
        ga('snackToWin.send', 'event', 'sign-up', 'submit');
    });
    $('.loginForm').submit(function() {
        ga('snackToWin.send', 'event', 'sign-in', 'submit');
    });
  });
</script>