<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Oikos_Snack-to-Win_Retargeting_En_2017
URL of the webpage where the tag is expected to be placed: https://www.dan-on.com/ca-en/snack-to-win
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 03/29/2017
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos005;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos005;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
<style>
    {{> reset}}
    {{> generic_mobile}}

    {{> landing_mobile}}

    {{> landing_slider}}

    @media (min-width: {{{ minWidth }}}px) {
        {{> generic_desktop}}

        {{> landing_desktop}}
    }
</style>

<div id="s2w2017-concours" class="contest-landing">
    <div class="s2w2017-outer-wrapper">
        <header>
            <p><span></span><span>Welcome to our contest page</span></p>
        </header>
        <section id="s2w2017-main">
            <div id="s2w2017-landing" class="s2w2017-en">
                <header>
                    <div class="gradient">
                        <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
                    </div>
                    <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win">
                </header>
                <section id="s2w2017-carrousel">
                    <div class="s2w2017-carrousel">
                        <div>
                            <div class="s2w2017-slide s2w2017-slide0"></div>
                            <p><strong>5 x $2,000</strong>cash prizes</p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide1"></div>
                            <p><strong>20 x $1,000</strong>Air Canada Gift Cards</p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide2"></div>
                            <p><strong>50 x $100</strong>Ticketmaster<sup>&reg;</sup><br class="s2w2017-br-mobile"> gift cards</p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide3"></div>
                            <p><strong>50 x $500</strong>gift certificates redeemable<br class="s2w2017-br-mobile"> at one of the restaurants listed<br class="s2w2017-br-mobile"> by <i>Canada's 100 Best Restaurants</i></p>
                        </div>
                        <div>
                            <div class="s2w2017-slide s2w2017-slide4"></div>
                            <p><strong>6,800 coupons</strong>for a free Oikos<sup>&reg;</sup> product</p>
                        </div>
                    </div>
                </section>
                <section id="s2w2017-copy">
                    <div></div>
                    <div class="s2w2017-inner-wrapper">
                        <p>Enter your 10-digit unique code found on participating Oikos<sup>&reg;</sup> <br class="s2w2017-br-desktop">products for your chance to win!</p>
                    </div>
                    <div></div>
                </section>
                <section id="s2w2017-freecode">
                    <div>
                        <div class="s2w2017-inner-wrapper">
                            <p class="s2w2017-long-shadow"><strong>Oikos<sup>&reg;</sup> provides your <br class="s2w2017-br-mobile">first code!</strong></p>
                        </div>
                    </div>
                    <div>
                        <div class="s2w2017-inner-wrapper">
                            <p>Enter this code <strong>OIKOS12345</strong></p>
                            <p>for a chance to win our <br class="s2w2017-br-mobile">$10,000 grand prize.</p>
                        </div>
                    </div>
                </section>
                <section id="s2w2017-form">
                    <div class="alert-danger">&nbsp;</div>
                    <div class="s2w2017-inner-wrapper">
                        <form action="/c/danon-contest" id="contest-landing-form">
                            <input id="contestId" name="contestId" type="hidden" value="S2W_2017" />
                            <div>
                                <input id="pincode" name="pincode" required="required" type="text" placeholder="Enter your code" />
                            </div>
                            <div>
                                <input data-format-control="emailAddress" id="contest-landing-email" name="contest-landing-email" required="required" type="email" placeholder="Enter your email" />
                            </div>
                            <div id="s2w2017-cgu">
                                <div><div class="msgRequired alert-danger">Check this box if you want to continue</div>
                                    <input id="contest-landing-cgu" required="required" type="checkbox" />
                                    <label for="contest-landing-cgu"><span id="s2w2017-checkbox"><span></span></span><span>I have read and I accept<br class="s2w2017-br-mobile"> the <a href="https://www.dan-on.com/ca-en/snack-to-win/rules">Official Contest Rules.</a></span></label>
                                </div>
                            </div>
                            <button class="s2w2017-btn" type="submit"><span>Enter now</span></button>
                        </form>
                    </div>
                </section>
            </div>
        </section>
        {{> footer_en}}
    </div>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>

    $(function () {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-28851518-47', 'auto', 'snackToWin', {
            userId: Globals.CUSTOMER_ID
        });
        ga('snackToWin.set', 'page', '/ca-en/snack-to-win');
        ga('snackToWin.send', 'pageview');

        $('.s2w2017-carrousel').slick({
            arrows: false,
            autoplay: true,
            dots: true,
            mobileFirst: true,
            autoplaySpeed: 3000,
            focusOnSelect: true,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        centerMode: true,
                        centerPadding: '75px'
                    }
                }
            ]
        });




        $('.alert-danger').hide();
        var parameters = Utils.getUrlParameters();
        if (parameters.pincode !== undefined) $('#pincode').val(parameters.pincode);
        if (!Globals.SIGNED_IN && parameters['contest-landing-email'] !== undefined) {
            $('#contest-landing-email').val(parameters['contest-landing-email']);
            var status = window.contestLanding.checkEmail();
        }    

        var errors = parameters.errors;
        if (errors) {
            $.each(errors.split(','), function (index, value) {
                var errorMessage = '';
                switch (value) {
                case "InvalidPincode":
                    errorMessage = "This code is invalid.";
                    break;
                case "NoContestPincode":
                    errorMessage = "This code is not from an Oikos<sup>&reg;</sup> product.";
                    break;
                case "ExpiredPincode":
                    errorMessage = "This pin has expired.";
                    break;
                case "AlreadyUsedPincode":
                    errorMessage = "This code has already been used.";
                    break;
                case "AlreadyUsedFreecode":
                    errorMessage = "This code has already been used.";
                    break;
                case "MaxParticipations":
                    errorMessage = "You have reached the daily maximum of 5 entries. Come back tomorrow!";
                    break;
                default:
                    break;
                }
                $('.alert-danger').html(errorMessage);
                $('.alert-danger').show();
            });
            window.location.hash = "s2w2017-form";
        }

        $('.msgRequired').hide();
        $('#contest-landing-form').on('submit', function () {
            $('#pincode','#contest-landing-cgu').blur();
            if(!$('#contest-landing-cgu').is(':checked')) {
               $('.msgRequired').show();
               $('#contest-landing-cgu').on('click', function() {
                    $('.msgRequired').hide();
               });
            }
           

            if (Globals.SIGNED_IN === false) var status = window.contestLanding.checkEmail();
               if (window.contestLanding.checkEmail() === 'unavailable'){                 
                $('.msgRequired').html('The email address you have used is already associated with an account in another country. Please use another one to enter the contest.');
                $('.msgRequired').show();            
            }
            
             if ($('#contest-landing-form .msgRequired:visible').length) return false;
            // insert pincode validation here

            var $code = $('#pincode').val();
            var $is_unique = ($code == "OIKOS12345") ? "generic_code" : "unique_code";
            ga('snackToWin.send', 'event', 'code', 'submit', $is_unique);

            if(Globals.CUSTOMER_ID == "ANONYMOUS") {
                $('body').addClass('body-fixed');
            }
            
            return Globals.SIGNED_IN;
        });
        $('#column-2').click(function() {
            $('#column-2').hide();
            $('body').removeClass('body-fixed');
        });

        $('#column-2 .portlet-borderless-container').click(function(event) {
          event.stopPropagation();
        });

        $('#navigation .loginForm fieldset').click(function() {
          $('#navigation .loginForm input').attr('checked', false);
            $('body').removeClass('body-fixed');
        });
        $('#navigation .loginForm fieldset').children().click(function(event) {
          event.stopPropagation();
        });
    });


  $(function () {
    $('#signupForm').submit(function() {
        ga('snackToWin.send', 'event', 'sign-up', 'submit');
    });
    $('.loginForm').submit(function() {
        ga('snackToWin.send', 'event', 'sign-in', 'submit');
    });
  });
</script>