#s2w2017-main {
    #s2w2017-concoursTermine {
        #s2w2017-copy {
            padding-bottom: 140px;
            background: url(//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/contestEnd/bg-img.jpg) center bottom no-repeat;
            p {
                margin-bottom: 1em;
                a {
                    color: #1f4493;
                    text-decoration: underline;
                }
            }
        }
        #s2w2017-coupons {
            background: #FFF;
            padding: 15px 0;
            img {
                margin: 15px 0;
                display: inline-block;
            }
            p {
               strong {
                    font-size: 18px;
                    display: block;
                }
            }
            .s2w2017-btn {
                span {
                    min-width: 190px;
                }
            }
            
        }
    }
}