#s2w2017-main {
    #s2w2017-concoursTermine {
        #s2w2017-copy {
            padding-bottom: 230px;
            background: url(//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/contestEnd/bg-img-desktop.jpg) center bottom no-repeat;
            p {
                &:first-child {
                    font-size: 25px;
                }
            }
        }
        #s2w2017-coupons {
            padding: 20px 0;
            img {
                display: none;
            }
            p {
                margin-bottom: 20px;
                strong {
                    font-size: 22px;
                }
            }
        }
    }
}