<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
{{> reset}}
{{> generic_mobile}}

{{> confirmation_mobile}}

@media (min-width: {{{ minWidth }}}px) {
  {{> generic_desktop}}

  {{> confirmation_desktop}}
}
</style>
<div id="s2w2017-concours" class="instantWinRefused">
  <div class="s2w2017-outer-wrapper">
    <header>
      <p><span></span><span>Entry confirmation</span></p>
    </header>
    <section id="s2w2017-main">
      <!-- instantWinAccepted -->
      <div id="instantWinAccepted" class="s2w2017-en">
        <header>
          <div class="gradient">
            <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
          </div>
          <a href="http://dan-on.com/ca-en/snack-to-win"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win"></a>
        </header>
        <section class="contest-confirmation">
          <h1 class="contest-confirmation__username">&nbsp;</h1>
<!--          <p>We have received your form, and you now have <span class="contest-confirmation__participations-count"></span> entry(ies) for the Grand Prize draw of $10,000.</p>-->
          <p>We have received your form.</p>
        </section>
        <section id="s2w2017-body">
          <div class="s2w2017-inner-wrapper">
            <p>If your winning code corresponds to an Oikos<sup>&reg;</sup> free product coupon, you will receive your coupon in the mail at the address indicated on the form within 4 to 6 weeks.</p>
            <p>If your winning code corresponds to another prize, a Danone agent will communicate with you by email or telephone within 10 business days.</p>
            <p><strong>An email confirmation will be sent to you. Check your inbox.</strong></p>
          </div>
        </section>
        <section id="s2w2017-come-back">
          <h2 class="s2w2017-long-shadow">Come back and enter again until May 21!</h2>
          <div class="s2w2017-inner-wrapper">
            <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/confirmation/come-back-s2w.png" alt="La Collation Gagnante">
            <p><span>More codes <span>More entries</span></span><br />to win instant prizes!</p>
            <a href="http://dan-on.com/ca-en/snack-to-win" class="s2w2017-btn"><span class="s2w2017-inline-block">Enter codes</span></a>
          </div>
        </section>
        <section id="s2w2017-no-more">
          <div class="no-more-coupons">
            <div class="s2w2017-inner-wrapper">
              <h2>No more codes?</h2>
              <p>Take advantage of discount coupons and get the codes marked on your favourite Oikos<sup>&reg;</sup> products!</p>
              <p><a href="https://www.dan-on.com/ca-en/my-discounts"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-en.png" alt="coupons"></a></p>
            </div>
          </div>
          <div class="no-more-btn">
            <div class="s2w2017-inner-wrapper">
              <a href="https://www.dan-on.com/ca-en/my-discounts" class="s2w2017-btn">
                <span class="s2w2017-mobile-only s2w2017-inline-block">Get my coupons</span>
                <span class="s2w2017-desktop-only s2w2017-inline-block">Print my coupons</span>
              </a>
            </div>
          </div>
        </section>
      </div>

      <!-- instantWinRefused -->
      <div id="instantWinRefused" class="s2w2017-en">
        <header>
          <div class="gradient">
            <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
          </div>
          <a href="http://dan-on.com/ca-en/snack-to-win"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win"></a>
        </header>
        <section class="contest-confirmation">
          <h1 class="contest-confirmation__username">&nbsp;</h1>
          <p>We have received your refusal for the prize. A confirmation email will be sent to you. If your refusal is due to an error, you will find the procedure for notifying us.</p>
        </section>
        <section id="s2w2017-draw">
          <div class="s2w2017-inner-wrapper">
<!--            <p>You have accumulated <span class="contest-confirmation__participations-count"></span> entry(ies) for the $10,000 grand prize draw.</p>-->
              <p>Winners will be notified by email. <br /><strong><a href="http://dan-on.com/ca-en/snack-to-win">Click here to enter more codes.</a></strong></p>
          </div>
        </section>
        <section id="s2w2017-come-back" class="s2w2017-desktop-only">
          <h2 class="s2w2017-long-shadow">Come back and enter again until May 21!</h2>
        </section>
        <section id="s2w2017-no-more">
          <div class="no-more-coupons">
            <div class="s2w2017-inner-wrapper">
              <h2>No more codes?</h2>
              <p>Take advantage of discount coupons and get the codes marked on your favourite Oikos<sup>&reg;</sup> products</p>
              <p><a href="https://www.dan-on.com/ca-en/my-discounts"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-en.png" alt="coupons"></a></p>
            </div>
          </div>
          <div class="no-more-btn">
            <div class="s2w2017-inner-wrapper">
              <a href="https://www.dan-on.com/ca-en/my-discounts" class="s2w2017-btn">
                <span class="s2w2017-mobile-only s2w2017-inline-block">Get my coupons</span>
                <span class="s2w2017-desktop-only s2w2017-inline-block">Print my coupons</span>
              </a>
            </div>
          </div>
        </section>
      </div>

      <!-- contestHome -->
      <div id="contestHome" class="s2w2017-fr">
        <header>
          <div class="gradient">
            <p>over <strong>$100,000</strong> <br>in instant <br><strong>prizes to be won!</strong></p>
          </div>
          <a href="http://dan-on.com/ca-en/snack-to-win"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-en.png" alt="Oikos Snack to Win"></a>
        </header>
        <section class="contest-confirmation">
          <p><span class="contest-confirmation__username">&nbsp;</span> <br />
            You have not won an instant prize, but your entry has been registered for the $10,000 grand prize draw.</p>
<!--          <p>You have accumulated <span class="contest-confirmation__participations-count"></span> entry(ies) in the grand prize draw.</p>-->
          <p>Winners will be notified by email.
            <br /><strong><a href="http://dan-on.com/ca-en/snack-to-win">Click here to enter more codes.</a></strong></p>
        </section>
        <section id="s2w2017-come-back" class="s2w2017-desktop-only">
          <h2 class="s2w2017-long-shadow">Come back and enter again until May21!</h2>
        </section>
        <section id="s2w2017-no-more">
          <div class="no-more-coupons">
            <div class="s2w2017-inner-wrapper">
              <h2>No more codes?</h2>
              <p>Take advantage of discount coupons and get the codes marked on your favourite Oikos<sup>&reg;</sup> products!</p>
              <p><a href="https://www.dan-on.com/ca-en/my-discounts"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-en.png" alt="coupons"></a></p>
            </div>
          </div>
          <div class="no-more-btn">
            <div class="s2w2017-inner-wrapper">
              <a href="https://www.dan-on.com/ca-en/my-discounts" class="s2w2017-btn">
                <span class="s2w2017-mobile-only s2w2017-inline-block">Get my coupons</span>
                <span class="s2w2017-desktop-only s2w2017-inline-block">Print my coupons</span>
              </a>
            </div>
          </div>
        </section>
      </div>

    </section>
    {{> footer_en}}
  </div>
</div>

<script>
// <!--
$(function(){
  $('#s2w2017-main').children().hide();
  var parameters = Utils.getUrlParameters();

  switch (parameters.origin) {
    case 'instantWinAccepted':
    $('#s2w2017-main #instantWinAccepted').show();
    $('.contest-confirmation__username').text(parameters.firstName+',');
    //$('.contest-confirmation__participations-count').text(parameters.customerParticipationsCount);
    break;
    case 'instantWinRefused':
    $('#s2w2017-main #instantWinRefused').show();
    $('.contest-confirmation__username').html(parameters.firstName+',');
    //$('.contest-confirmation__participations-count').text(parameters.customerParticipationsCount);
    break;
    case 'contestHome':
    default:
    $('#s2w2017-main #contestHome').show();
    $('.contest-confirmation__username').text(parameters.firstName+',');
    //$('.contest-confirmation__participations-count').text(parameters.customerParticipationsCount);
    break;
  }
});
// -->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28851518-47', 'auto', 'snackToWin', {
    userId: Globals.CUSTOMER_ID
  });
  ga('snackToWin.send', 'pageview');

  $(function () {
    $('#s2w2017-no-more a').click(function() {
      ga('snackToWin.send', 'event', 'cta', 'click', 'print_coupons');
    });
    $('#s2w2017-come-back .s2w2017-btn').click(function() {
      ga('snackToWin.send', 'event', 'cta', 'click', 'enter_codes');
    });
  });
</script>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Oikos_Snack-to-win_Conversion_En
URL of the webpage where the tag is expected to be placed: https://www.dan-on.com/ca-en/snack-to-win
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 03/10/2017
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos003;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
