<link href="/danon-responsive-theme/fonts/brocha/brocha.css" rel="stylesheet" />
<style>
{{> reset}}
{{> generic_mobile}}

{{> confirmation_mobile}}

@media (min-width: {{{ minWidth }}}px) {
  {{> generic_desktop}}

  {{> confirmation_desktop}}
}
</style>
<div id="s2w2017-concours" class="instantWinRefused">
  <div class="s2w2017-outer-wrapper">
    <header>
      <p><span></span><span>Participation confirmée</span></p>
    </header>
    <section id="s2w2017-main">
      <!-- instantWinAccepted -->
      <div id="instantWinAccepted" class="s2w2017-fr">
        <header>
          <div class="gradient">
            <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
          </div>
          <a href="http://dan-on.com/ca-fr/collation-gagnante"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante"></a>
        </header>
        <section class="contest-confirmation">
          <h1 class="contest-confirmation__username">&nbsp;</h1>
<!--          <p>Nous avons bien reçu votre formulaire et vous avez maintenant <span class="contest-confirmation__participations-count"></span> participation(s) pour le tirage du gros lot de 10&nbsp;000&nbsp;$&nbsp;!</p>-->
          <p>Nous avons bien reçu votre formulaire.</p>
        </section>
        <section id="s2w2017-body">
          <div class="s2w2017-inner-wrapper">
            <p>Si votre code gagnant correspond à un certificat échangeable contre un produit Oikos<sup>&reg;</sup> gratuit, vous le recevrez par la poste à l’adresse inscrite sur le formulaire dans un délai de 4 à 6 semaines.</p>
            <p>Si votre code gagnant correspond à un autre prix, un agent de Danone communiquera avec vous par courriel ou par téléphone dans un délai de 10 jours ouvrables.</p>
            <p><strong>Un courriel de confirmation vous sera envoyé. Consultez votre boîte de courriel.</strong></p>
          </div>
        </section>
        <section id="s2w2017-come-back">
          <h2 class="s2w2017-long-shadow">Revenez participer jusqu’au 21 mai&nbsp;!</h2>
          <div class="s2w2017-inner-wrapper">
            <img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/confirmation/come-back-s2w.png" alt="La Collation Gagnante">
            <p><span>Plus de codes <span>Plus de chances</span></span><br />de gagner l’un de nos prix instantanés&nbsp;!</p>
            <a href="http://dan-on.com/ca-fr/collation-gagnante" class="s2w2017-btn"><span class="s2w2017-inline-block">Entrer des codes</span></a>
          </div>
        </section>
        <section id="s2w2017-no-more">
          <div class="no-more-coupons">
            <div class="s2w2017-inner-wrapper">
              <h2>Vous n'avez plus de codes&nbsp;?</h2>
              <p>Profitez de coupons-rabais et récoltez des codes sur vos produits Oikos<sup>&reg;</sup> préférés.</p>
              <p><a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-fr.png" alt="coupons"></a></p>
            </div>
          </div>
          <div class="no-more-btn">
            <div class="s2w2017-inner-wrapper">
              <a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction" class="s2w2017-btn">
                <span class="s2w2017-mobile-only s2w2017-inline-block">Obtenir mes coupons</span>
                <span class="s2w2017-desktop-only s2w2017-inline-block">Imprimer mes coupons</span>
              </a>
            </div>
          </div>
        </section>
      </div>

      <!-- instantWinRefused -->
      <div id="instantWinRefused" class="s2w2017-fr">
        <header>
          <div class="gradient">
            <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
          </div>
          <a href="http://dan-on.com/ca-fr/collation-gagnante"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante"></a>
        </header>
        <section class="contest-confirmation">
          <h1 class="contest-confirmation__username">&nbsp;</h1>
          <p>Nous avons bien reçu votre refus du prix. Un courriel de confirmation vous sera envoyé. Si votre refus découle d'une erreur, vous y trouverez la marche à suivre pour nous en aviser.</p>
        </section>
        <section id="s2w2017-draw">
          <div class="s2w2017-inner-wrapper">
<!--            <p>Vous avez accumulé <span class="contest-confirmation__participations-count"></span> participation(s) pour le tirage du gros lot de 10 000 $.</p>-->
              <p>Les gagnants seront avisés par courriel. <br /><strong><a href="http://dan-on.com/ca-fr/collation-gagnante">Cliquez ici pour entrer d’autres codes.</a></strong></p>
          </div>
        </section>
        <section id="s2w2017-come-back" class="s2w2017-desktop-only">
          <h2 class="s2w2017-long-shadow">Revenez participer jusqu'au 21 mai&nbsp;!</h2>
        </section>
        <section id="s2w2017-no-more">
          <div class="no-more-coupons">
            <div class="s2w2017-inner-wrapper">
              <h2>Vous n'avez plus de codes&nbsp;?</h2>
              <p>Profitez des coupons-rabais et récoltez des codes sur vos produits Oikos<sup>&reg;</sup> préférés.</p>
              <p><a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-fr.png" alt="coupons"></a></p>
            </div>
          </div>
          <div class="no-more-btn">
            <div class="s2w2017-inner-wrapper">
              <a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction" class="s2w2017-btn">
                <span class="s2w2017-mobile-only s2w2017-inline-block">Obtenir mes coupons</span>
                <span class="s2w2017-desktop-only s2w2017-inline-block">Imprimer mes coupons</span>
              </a>
            </div>
          </div>
        </section>
      </div>

      <!-- contestHome -->
      <div id="contestHome" class="s2w2017-fr">
        <header>
          <div class="gradient">
            <p>Plus de <br><strong>100&nbsp;000&nbsp;$</strong> en prix <br><strong>instantanés</strong></p>
          </div>
          <a href="http://dan-on.com/ca-fr/collation-gagnante"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/oikos-title-fr.png" alt="Oikos La Collation Gagnante"></a>
        </header>
        <section class="contest-confirmation">
          <p><span class="contest-confirmation__username">&nbsp;</span> <br />
            Vous n'avez pas gagné de prix instantané, mais votre participation a été enregistrée pour le tirage du gros lot de 10&nbsp;000&nbsp;$.</p>
<!--          <p>Vous avez accumulé <span class="contest-confirmation__participations-count"></span> participation(s) pour le tirage au sort.</p>-->
          <p>Les gagnants seront avisés par courriel.
            <br /><strong><a href="http://dan-on.com/ca-fr/collation-gagnante">Cliquez ici pour entrer d’autres codes.</a></strong></p>
        </section>
        <section id="s2w2017-come-back" class="s2w2017-desktop-only">
          <h2 class="s2w2017-long-shadow">Revenez participer jusqu'au 21 mai&nbsp;!</h2>
        </section>
        <section id="s2w2017-no-more">
          <div class="no-more-coupons">
            <div class="s2w2017-inner-wrapper">
              <h2>Vous n'avez plus de codes&nbsp;?</h2>
              <p>Profitez de coupons-rabais et récoltez des codes sur vos produits Oikos<sup>&reg;</sup> préférés.</p>
              <p><a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction"><img src="//danon.s3.amazonaws.com/ca-fr/campaigns/Oikos/s2w2017/coupons-fr.png" alt="coupons"></a></p>
            </div>
          </div>
          <div class="no-more-btn">
            <div class="s2w2017-inner-wrapper">
              <a href="https://www.dan-on.com/ca-fr/mes-bons-de-reduction" class="s2w2017-btn">
                <span class="s2w2017-mobile-only s2w2017-inline-block">Obtenir mes coupons</span>
                <span class="s2w2017-desktop-only s2w2017-inline-block">Imprimer mes coupons</span>
              </a>
            </div>
          </div>
        </section>
      </div>

    </section>
    {{> footer_fr}}
  </div>
</div>
<script>
// <!--
$(function(){
  $('#s2w2017-main').children().hide();
  var parameters = Utils.getUrlParameters();

  switch (parameters.origin) {
    case 'instantWinAccepted':
    $('#s2w2017-main #instantWinAccepted').show();
    $('.contest-confirmation__username').text(parameters.firstName+',');
    //$('.contest-confirmation__participations-count').text(parameters.customerParticipationsCount);
    break;
    case 'instantWinRefused':
    $('#s2w2017-main #instantWinRefused').show();
    $('.contest-confirmation__username').html(parameters.firstName+',');
    //$('.contest-confirmation__participations-count').text(parameters.customerParticipationsCount);
    break;
    case 'contestHome':
    default:
    $('#s2w2017-main #contestHome').show();
    $('.contest-confirmation__username').text(parameters.firstName+',');
    //$('.contest-confirmation__participations-count').text(parameters.customerParticipationsCount);
    break;
  }
});
// -->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28851518-47', 'auto', 'snackToWin', {
    userId: Globals.CUSTOMER_ID
  });
  ga('snackToWin.send', 'pageview');

  $(function () {
    $('#s2w2017-no-more a').click(function() {
      ga('snackToWin.send', 'event', 'cta', 'click', 'print_coupons');
    });
    $('#s2w2017-come-back .s2w2017-btn').click(function() {
      ga('snackToWin.send', 'event', 'cta', 'click', 'enter_codes');
    });
  });
</script>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Oikos_Snack-to-Win_Conversion_Fr
URL of the webpage where the tag is expected to be placed: https://www.dan-on.com/ca-fr/collation-gagnante?
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 03/10/2017
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://4353590.fls.doubleclick.net/activityi;src=4353590;type=oikos001;cat=oikos002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
