#s2w2017-concours #s2w2017-main {
    background: #FFF;
}

#s2w2017-main {
    #s2w2017-rules {
        #s2w2017-copy {
            overflow-wrap:break-word;
            padding-bottom: 20px;
            h1,h2,h3,h4,h5,h6,p,ul {
                margin-left: 10px;
                margin-right: 10px;
            }
            h1,h2,h3,h4,h5,h6 {
                text-align: left;
                margin-top: 45px;
            }
            ul {
                color: #000;
                text-align: left;
                list-style: initial;
                padding-left: 20px;
                ul {
                    margin: 0;
                    list-style-type: circle;
                }
            }
            .s2w2017-btn {
                text-align: center;
                font-size: 14px;
                background-color: #0093fb;
                margin: 20px;
                &:before {
                    text-shadow: 0 0 #0083e0, 0.5px 0.5px #0083e0, 1px 1px #0083e0, 1.5px 1.5px #0083e0, 2px 2px #0083e0, 2.5px 2.5px #0083e0, 3px 3px #0083e0, 3.5px 3.5px #0083e0, 4px 4px #0083e0, 4.5px 4.5px #0083e0, 5px 5px #0083e0, 5.5px 5.5px #0083e0, 6px 6px #0083e0, 6.5px 6.5px #0083e0, 7px 7px #0083e0, 7.5px 7.5px #0083e0, 8px 8px #0083e0, 8.5px 8.5px #0083e0, 9px 9px #0083e0, 9.5px 9.5px #0083e0, 10px 10px #0083e0, 10.5px 10.5px #0083e0, 11px 11px #0083e0, 11.5px 11.5px #0083e0, 12px 12px #0083e0, 12.5px 12.5px #0083e0, 13px 13px #0083e0, 13.5px 13.5px #0083e0, 14px 14px #0083e0, 14.5px 14.5px #0083e0, 15px 15px #0083e0, 15.5px 15.5px #0083e0, 16px 16px #0083e0, 16.5px 16.5px #0083e0, 17px 17px #0083e0, 17.5px 17.5px #0083e0, 18px 18px #0083e0, 18.5px 18.5px #0083e0, 19px 19px #0083e0, 19.5px 19.5px #0083e0, 20px 20px #0083e0, 20.5px 20.5px #0083e0, 21px 21px #0083e0, 21.5px 21.5px #0083e0, 22px 22px #0083e0, 22.5px 22.5px #0083e0, 23px 23px #0083e0, 23.5px 23.5px #0083e0, 24px 24px #0083e0, 24.5px 24.5px #0083e0, 25px 25px #0083e0;
                    box-shadow: 1px 0 0 #0a89e4, 2px 0 0 #1a9ffe;
                }
            }
            p {
                margin-top: 20px;
                margin-bottom: 20px;
                color: #000;
                text-align: left;
                font-size: 14px;
                &.s2w2017-title {
                    margin-top: 25px;
                    margin-bottom: 6px;
                    & + p {
                        margin-top: 6px;
                    }
                    & + p.s2w2017-title {
                        margin-top: 20px;
                    }
                }
                &.s2w2017-underline {
                    text-decoration: underline;
                    margin-bottom: 6px;
                    & + ul, & + p {
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}