#s2w2017-main {
    #s2w2017-rules {
        #s2w2017-copy {
            overflow-wrap:break-word;
            padding-bottom: 20px;
            .s2w2017-btn {
                font-size: 24px;
                margin: 20px;
                span {
                    min-width: 300px;
                }
            }
            p {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 16px;
            }
            h1,h2,h3,h4,h5,h6,p,ul {
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}